[2019-07-17 21:58] degloff opened #6 "javafx.graphics does not export com.sun.javafx.scene.layout to unnamed module"
I get a runtime exception when running any example.

I use java11 and this commit:

https://github.com/GSI-CS-CO/chart-fx/commit/8f5afdafa395cd5a7d3154cc003aa9022678db93

Here is the exception:

/Library/Java/JavaVirtualMachines/openjdk-11.0.2.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:56233,suspend=y,server=n -

......
[code]

[2019-07-17 23:13] wirew0rm commented on #6
Hey, this is due to javafx using the jigsaw java module system and chart-fx not using it. There are multiple ways to resolve this:
1) run with maven:
``bash
mvn exec:java -Dproject.mainClass=de.gsi.chart.samples.<sample>
``
This should allways work, but not very practical for use in IDEs (e.g. no incremental compilation). Maven does some magic to automatically set the right jvm parameters.
2) use

[2019-07-18 07:19] wirew0rm commented on #6
I just looked up the required JVM arguments, in eclipse they have to be added to `run configuration`->`VM arguments`, other IDEs should have similar settings:
``
--add-modules=javafx.swing,javafx.graphics,javafx.fxml,javafx.media,javafx.web --add-reads javafx.graphics=ALL-UNNAMED --add-opens javafx.controls/com.sun.javafx.charts=ALL-UNNAMED --add-opens javafx.graphics/com.sun.javafx.iio=ALL-UNNAME

[2019-07-18 09:04] soloman817 opened #7 "Is DataSet thread safe?"
I just tried this project, looks very good.

I want to dynamic add/remove points from dataset, and it works, but I was wondering if the dataset add method or remove method thread-safe, which I can call it from another thread (currently I'm using Akka actor)?

[2019-07-18 09:30] soloman817 opened #8 "Questions about implement a new DataSet"
I would like to implement a DataSet that will efficiently support adding/removing data. The requirement comes from that I want to dynamically plotting some event. These events are not coming in regular time, they can be 1 event per second, or 1000 events per second. For this reason, the buffer size of data points will keep changing, based on time, say, I want to always plot the last 10 minutes dat

[2019-07-18 12:06] soloman817 commented on #7
@wirew0rm  thanks, I also saw the lock() invokation inside the DoubleDataSet code.

[2019-07-18 12:06] #7 closed

[2019-07-18 12:07] RalphSteinhagen commented on #8
The following examples may help/illustrate your use-case:
[RollingBufferSample](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/RollingBufferSample.java)
[RollingBufferSortedTreeSample](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/RollingBufferSortedTreeSample.java)

In particular there are

[2019-07-18 12:30] soloman817 opened #9 "How to add dataset to different renderer?"
So, I want to have multiple dataset, some I want to plot with stair case, some I want to plot like matplotlib stem lines.

In the example, XYChart is created, and there is a default renderer there. So I have to create a new stair case renderer:

[code]

now, If I call `chart.getDatasets().add(dataset)`, it will be rendered twice, if I call `renderer.getDatasets().add(dataset)` it only plot once. S

[2019-07-18 12:42] soloman817 commented on #8
@RalphSteinhagen great example! checking that

[2019-07-18 13:58] wirew0rm commented on #9
Yes, that's correct, renderers(at least the ones that visualize datasets, not e.g. GridRenderer) always operate on their own dataset and on all datasets added to the chart.

[2019-07-19 07:31] soloman817 commented on #8
@RalphSteinhagen Thanks for point me out the wonderful example, I've made my first version. Here are some findings:

1. `CircularDoubleErrorDataSet` doesn't support evicting data by time, and for x axis, no positive or negative error.

2. `LimitedIndexedTreeDataSet` has queue size and time duration expiration feature. One thing is, while evicting an expired element, it loops over all element to ca

[2019-07-19 07:32] #9 closed

[2019-07-19 08:20] #8 closed

[2019-07-19 12:41] wirew0rm commented on #6
I have added this information to the [README.md](https://github.com/GSI-CS-CO/chart-fx#working-on-the-source), and will close this issue, feel free to reopen or create a new issue if you have more questions/problems.

[2019-07-19 12:41] #6 closed

[2019-07-25 18:22] soloman817 opened #15 "Is it possible to change the marker size based on data?"
So, it is more like a 3d dataset, x is time, y is the location, and z is the value. I would like to plot it at a 2D chart, with x and y the location is decided, and z value controls the marker size.

Any idea?

[2019-07-25 18:25] soloman817 opened #16 "The second y axis cannot zoom in/out"
so in example: https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/MultipleAxesSample.java

If I lock the zoomed to only zoom Y axis, and then scroll the mouse, only the left y-axis (the first y axis) zooms, the 2 other y axis doesn't change.

Is there way to select which y-axis to zoom?

[2019-07-26 06:26] RalphSteinhagen commented on #16
Not yet. This is a missing functionality in the Zoomer plugin that for the time being tracks only changes of the first primary axes for X and Y.

https://github.com/GSI-CS-CO/chart-fx/blob/a67b98c8224bdaccb627b60c123e4570cff1b17b/chartfx-chart/src/main/java/de/gsi/chart/plugins/Zoomer.java#L821-L832

The functionality seems to be limited to above function (+ ZoomState tracking) and would need to b

[2019-07-26 07:13] RalphSteinhagen commented on #15
The marker shape/size handling is still very basic but useful for 'bubble chart'-type renderer.

We have a similar use-case at GSI/FAIR in the intermediate pipe-line*.

There are two aspects to it:
1. data-storage:
    * one option is to store the '(x, y, z resp. marker size)' tuples using the DataSet3D interface. N.B. Alexander is already reworking a similar related feature (renaming of 'DataSet3

[2019-07-26 11:09] RalphSteinhagen commented on #16
some addition: whether a axis should be taken into account for zooming or not could be controlled with the following marks:

https://github.com/GSI-CS-CO/chart-fx/blob/a67b98c8224bdaccb627b60c123e4570cff1b17b/chartfx-chart/src/main/java/de/gsi/chart/plugins/Zoomer.java#L971-L975

I presume that one would need one ZoomState object per Axis, ie.

https://github.com/GSI-CS-CO/chart-fx/blob/a67b98c822

[2019-07-26 15:10] soloman817 opened #17 "Modify error in dataset doesn't work"
So I use ErrorDataSet and ErrorDataSetRenderer, where I utilize the x positive error to draw a line into the future.

Now, every second, I lock the dataset and update the x pos error, but the render doesn't show the new future line.

If I change the y value instead of x pos error, the point will change, which means, for x and y, modify data then emit an invalidate event, it works, but if I just ch

[2019-07-26 15:23] soloman817 commented on #17
oh, sorry, false alert, I forgot to set the ErrorStyle, it is NONE, of course no drawing.

[2019-07-26 15:23] #17 closed

[2019-08-05 14:45] soloman817 opened #19 "What's the best way to change the tooltip label css style?"
Sorry that I'm also not familiar with JavaFX, now I am using the Tooltip plugin, and I found that the style control is in `de.gsi.chart.chart.css` resource, there is a `.chart-datapoint-tooltip-label`, I would like to change the alignment from `center` to `left`. What's the suggested way to override that from coding?

[2019-08-05 20:16] RalphSteinhagen commented on #16
@soloman817 if you like to check the prototype implementation. We may merge this with the master/JDK production branch by next week.
https://github.com/GSI-CS-CO/chart-fx/tree/feature-zoomer-extension

[2019-08-06 05:49] RalphSteinhagen commented on #19
You may want to have a look at [JavaFX docs](https://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm).

In your case, you need to write your own `.css` stylesheet and load it to the chart prior to adding  the 'DataPointTooltip' plugin.
E.g. with a `CustomDataToolTip.css` CSS stylesheet containing only the following lines
[code]
and adding this via the `getStylesheets().add(...)` call

[2019-08-07 11:11] soloman817 commented on #16
@RalphSteinhagen Thanks, and I compiled the multi axes sample and ran it. Looks good, but one issue, if I check 'include the 3rd axis', and select the 4th button (to only zoom y-axis) then if I scroll mouse, the 3rd axis value looks strange, they are not centered in the middle.

[2019-08-07 11:13] soloman817 commented on #16
BTW, if it is merged, can it support Java8?

[2019-08-07 16:27] #16 closed

[2019-08-07 16:33] RalphSteinhagen commented on #16
Yes, just cherry-picked the feature to the JDK branch... Maven Central release will come later (maybe next week). Enjoy!

[2019-08-07 17:50] soloman817 commented on #19
Thanks a lot, it works, sure, next time I will check StackOverflow

[2019-08-07 17:50] #19 closed

[2019-08-08 12:40] RalphSteinhagen commented on #15
New functionality is in the master and JDK8 branch. Please note that for the time being the datasets need to be sorted by their x coordinates. Enjoy!

[2019-08-08 12:40] #15 closed

[2019-08-09 02:45] Politic-Revolutionnaire opened #21 "Error in attempting to run sample applications"
Attempted to compile and run the sample application using maven. Current maven version 3.6.1, current java version 12.0.2. Followed following instructions from the github page

cd chart-fx
mvn compile
mvn exec:java -Dproject.mainClass=de.gsi.chart.samples.RunChartSamples

when I ran, the program compiled correctly, however, on attempting to run  the following error was received -

[INFO] Reactor S

[2019-08-09 12:47] sirolf2009 opened #22 "setTimeAxis doesn't seem to work"
I'm building a chart for btc analysis, but I can't seem to set my x axis to a time axis. Here's my code
[code]
And this is what my chart looks like, my x axis still displays numbers instead of dates
![image](https://user-images.githubusercontent.com/3534736/62779865-9cdb2d00-bab4-11e9-86e0-742621d5b0cf.png)
What am I doing wrong? I'm using v 8.0.2

[2019-08-09 17:44] RalphSteinhagen commented on #22
How do you add the axis to the chart? Would need a bit more lines... ;-)

Have a look at one of the time axis samples, e.g. [TimeAxisSample.java](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/TimeAxisSample.java)
or [TimeAxisRangeSample.java](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/T

[2019-08-12 08:44] sirolf2009 commented on #22
Aah, I see. I was using epoch time in millis, not seconds. Now it works, thanks

[2019-08-12 08:44] #22 closed

[2019-08-12 11:26] #21 closed

[2019-08-12 12:00] wirew0rm commented on #21
Should be fixed on master, I've updated the POMs and the README to fix some small bugs, thanks for reporting!

[2019-08-16 17:33] samclark2015 opened #23 "Axes Do Not Resize on Maximize"
When resizing via the maximize window button, the axes do not expand to fill the newly grown chart. Manual click-and-drag resizing works as expected.
Debugging shows that axes grow to expected maximized sizes when window is un-maximized. Furthermore, this can be replicated in the ErrorDataSetRendererSample demo.

Initial chart sizes:
![Initial size of charts](https://user-images.githubusercontent.

[2019-08-16 19:09] samclark2015 commented on #23
Able to fix by wrapping `super.layoutChildren()` call in Chart.java in `Platform.runLater`.

Chart.java:1038 ... `Platform.runLater(() -> super.layoutChildren());`

[2019-08-19 13:43] RalphSteinhagen commented on #23
@samclark2015 thanks for the bug-fix/recommendation.
Will check whether this does not have adverse effects on the update performance for larger sets but otherwise merge this into master/JDK8.

[2019-08-20 13:56] RalphSteinhagen commented on #23
JDK8-JavaFX bug: Issue resolved with merged workaround PR https://github.com/GSI-CS-CO/chart-fx/pull/24

@samclark2015 thanks again for the bug-fix hint. I traced the source to the Canvas size listener, where `requestLayout()` is not executed for JDK8-JavaFX. The line you mentioned worked but wasn't right because of performance issues for continuous/live updated.  I added the `Platform.runLater(()

[2019-08-20 13:56] #23 closed

[2019-09-10 18:21] ennerf opened #26 "Basic Questions"
## Background
First of all, thanks for writing a JavaFX charting library. I've been using `JChart2D` for what seems like forever, and I can't wait to finally get rid of the last remaining Swing parts.

I've been working on an application that visualizes streaming sensor/measurement data in real-time. One of the features is a way for non-programmers to create custom charts via XML files where they

[2019-09-10 22:16] ennerf commented on #26
Also, below is a list of some (probable) bugs I've encountered so far with the `XYChart`. They are minor, so I don't think it's worth creating new issues. Overall, the library seems quite nice 👍

* Zooming in too far (e.g. >10x using the mouse area) crashes the entire runtime in a way that can't be recovered from

* Enabling/disabling grid lines does not trigger a redraw. Changes become visible af

[2019-09-11 13:51] wirew0rm commented on #26
Hello Florian,

first of all, thanks for your interest in our charting framework and also for providing your user story, it's allways nice to see what other people are building.

This actually looks very close to the fxml code for applications using chartfx. Currently most of our code manually instanciates the Chart components, so there are some attributes that cannot be set in a nice way from fxm

[2019-09-11 14:45] wirew0rm commented on #26
I also fixed all the issues from your second comment in our dev branch, except for the second one, which I put into the backlog.
The dev branch will become 11.1.0 soon.

Again, thanks for the detailed bug reports.

[2019-09-11 15:31] ennerf opened #28 "The dependencies are massive"
Our JavaFX application needs to be distributed to clients as a standalone version, i.e., including a runtime and all dependencies. Unfortunately, adding ChartFX turns a 45MB distributable into almost 90MB. This means that ChartFX alone currently is the same size as an entire JRE with OpenJFX and a decently complex application.

Using the [maven-shade-plugin](https://maven.apache.org/plugins/maven-

[2019-09-11 16:28] ennerf commented on #26
Thank you for your quick feedback.

**FXML**

That's good to know. Overall, I really like FXML and CSS. I usually work together with a UI designer, and the split makes it really easy to work with. The more that can be exposed, the better.

**LimitedIndexedTreeDataSet**

We often measure latency data that comes in at >=1KHz and is usually <=1 ms. The network latency is subject to GC, so I try reall

[2019-09-11 16:41] ennerf commented on #26
Btw. after having already ported parts of the application, I have to say that the zooming/panning features are really well done. That'll make a lot of users happy.

Feel free to close this issue unless you want to keep it open for reference.

[2019-09-11 17:01] wirew0rm commented on #28
Thanks for bringing this up, we're looking into it. Some preliminary remarks:

- javafx-web: removed with only minor changes
- fastutils: low usage because it was added only recently. "A type-specific array-based list; provides some additional methods that use polymorphism to avoid (un)boxing" <- our usecase, DGrowArray is missing a lot of features that we want to have + we want to concentrate on

[2019-09-11 18:24] ennerf commented on #28
* fastutils: In my use case I assume that ProGuard can shrink away whatever isn't used, so I'm not all that worried about it. It does noticeably increase packaging time, but that's not a deal breaker.

* svg: I've spent several hours today trying to get all the dependencies sorted out in ProGuard, but so far I haven't managed to produce an executable that still works. I realize that this is a func

[2019-09-12 05:07] RalphSteinhagen commented on #26
@ennerf thanks for your interest and co-using our lib.

Yes, this is one of the possible/intended usages. Our developers are quite diverse and favour a wide range from FXML/CSS-only up to fully programatic-style approaches. While the latter is (for us) easier to implement, we try to expand the FXML/CSS functionality where possible/reasonable/compatible with our other commitments (N.B. we actually

[2019-09-12 05:07] RalphSteinhagen commented on #26
A bit of rationale behind [LimitedIndexedTreeDataSet](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-dataset/src/main/java/de/gsi/dataset/spi/LimitedIndexedTreeDataSet.java): we specifically wrote this for a (perhaps) similar use-case where the sorting/tree was necessary due to:
* burst-conditions where the data arrives out-of-order (N.B. worker-thread-pool handling net-io)
* non-equidi

[2019-09-13 06:58] RalphSteinhagen commented on #26
I love that video... is this real-time ... if yes, we need this charting library.

regarding the issue: your observation is a valid point. :thumbsup:
For the sake of keeping this issue short (and eventually close) could you repost this as a new issue?

Maybe you could also add a video with the data point reduction disabled. This would help us to identify if it's the data reduction or line/marker r

[2019-09-13 07:01] ennerf commented on #26
The thin clients make an interesting use case. I was already wondering what the use case for `BinarySerialiser` was. I deal quite a bit with serialization, and I wrote [MFL](https://github.com/HebiRobotics/MFL/) for creating `.mat` files, as well as a zero-allocation Java library for [Protobuf](https://developers.google.com/protocol-buffers/) (not open sourced yet, but I'm considering it). Protobu

[2019-09-13 07:08] ennerf opened #31 "Data reduction removes outliers"
Tested on: `11.0.3`

When trying to render incoming real-time data, I noticed that sometimes outlier data points (highlighted by red) sometimes get removed by the reduction.

![image](https://user-images.githubusercontent.com/5491587/64842408-73a54380-d602-11e9-834a-8d408d985f55.png)

**reduction enabled** (minPointPixelDistance = 0)

https://youtu.be/V6WN-RcqSNE

**reduction disabled**

https://y

[2019-09-13 07:10] ennerf commented on #31
* The behavior is the same when plotting lines in addition to the markers
* I'm using `ErrorDataSetRenderer` with the `DefaultDataReducer` and `DoubleErrorDataSet`s

[2019-09-13 07:11] ennerf commented on #31
Also... I don't know where those total screen flickers are coming from. Should that be in the same issue?

[2019-09-13 07:20] RalphSteinhagen commented on #31
Thanks!

regarding the global flickering: known and issue solved in [dev branch](https://github.com/GSI-CS-CO/chart-fx/blob/90a0015459e6dc618b8796a28ac1be8c5fa3b861/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/ErrorDataSetRenderer.java#L142).

If I am not mistaken, the outliers are not flickering for the 'reduction disabled' case. Is this correct? If yes, then this points to the [reductio

[2019-09-13 07:25] ennerf commented on #31
Yes, the data set is monotonically increasing in X. In case it matters: the blue line comes from microsecond resolution timers on an embedded device, so so the Y values are often exactly identical. Below is a zoomed-in view of a similar plot.

![image](https://user-images.githubusercontent.com/5491587/64844455-20ce8a80-d608-11e9-8a12-067badd996a1.png)

The other two lines have nanosecond resolutio

[2019-09-13 07:34] ennerf commented on #26
I agree that this issue has already gotten way out of hand :)

Could you maybe add [Gitter](https://gitter.im/) to this repo? It's more like a chat and would make it a lot easier to handle small discussions. I have seen this work quite well for some repos, e.g., [gitter-channel](https://gitter.im/HdrHistogram/HdrHistogram?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) f

[2019-09-13 07:39] ennerf opened #32 "OpenJFX 13 release"
I just went though the [release notes for OpenJFX 13](https://github.com/javafxports/openjdk-jfx/blob/jfx-13/doc-files/release-notes-13.md#list-of-enhancements).

I don't know enough about the graphics stack, but the `Add native rendering support by supporting WritableImages backed by NIO ByteBuffers` ([JDK-8167148](https://bugs.openjdk.java.net/browse/JDK-8167148)) looks like it could be quite in

[2019-09-13 09:52] ennerf opened #33 "Dev version lock() does not work properly"
I tried to move the live charts to the dev snapshot, but I ran into an issue that immediately caused the app to halt.

After a far-too-long time debugging, I eventually traced it down to `lock()->writeLockGuard(()->{})` causing a deadlock when points get added from a non-FX thread.

If I override the `DoubleErrorDataSet::add(x,y)` method with a `Platform.runLater(()->{super.add(x,y);})` everything

[2019-09-13 10:26] ennerf commented on #33
I replaced the default lock with a debugging implementation. It runs with the version below, but as soon as I add `synchronized` to the `readLockGuard(Supplier)` the app deadlocks.

[code]

[2019-09-13 11:13] ennerf commented on #33
Adding some debug info as below with data being added at 1Hz yields:

[code]

[code]

[2019-09-13 11:39] ennerf commented on #33
The `ErrorDataSetRenderer` gets stuck in `localCachedPoints.computeScreenCoordinatesInParallel(...)`. Disabling the parallell implementation via `setParallelImplementation(false)` makes it work.

Here is what happens:

* [localCachedPoints.computeScreenCoordinatesInParallel](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/ErrorDataSetRende

[2019-09-13 11:43] ennerf commented on #33
The `DefaultDataSetLock` also deadlocks when the parallel implementation is disabled btw.

Anyways, I've wasted enough time on this. I'll use the workaround  with custom lock + single threaded implementation for now.

[2019-09-13 11:59] ennerf commented on #33
Sorry for the probable email spam, but I ran the test one more time since I have everything in place. Wrapping the default implementation

[code]

yields the following

[code]

My best guess would be a bug in the interaction between read and write locks. I'm not familiar with `StampedLock`, so I can't get any further than this.

[2019-09-13 12:27] ennerf opened #34 "Dev version Y axis still flickers"
The Y axis flicker issue still exists in the dev version.

Fixing the y axis results in a very smooth video: https://youtu.be/vuzG4XRBWAA

[code]

Enabling an auto-range still flickers: https://youtu.be/ZWjRCRhqp2I
(I did a comparison earlier. The left window is the older JChart2D version)

[code]

[2019-09-13 14:48] ennerf commented on #34
I was able to catch a "flicker" in the `computeRange()` method for the Y axis. I tried the DoubleDataSet to make sure it's not something related to data being expelled.

[code]

The max is the same, but somehow the axis length briefly got reported as `1025` instead of `~234`, which screws up the scaling. The app was in full-screen the entire time, so the axis length should be constant.

[2019-09-13 16:56] wirew0rm commented on #33
I added another JUnit Test, reenacting the locking pattern from your locks to ensure that we are not running into a cornercase where locking logic is failing. There still might be problems only showing under load, of course.

One possible candidate is the ConcurrentHashMap backing the StringHashMapList used for storing the styles.

Thanks for all the detailed debugging information, I think we are

[2019-09-13 17:10] ennerf commented on #33
Thanks for looking into it. I just tried the latest commit with the default lock and a disabled style map, but it still deadlocks.

[code]

[2019-09-14 04:49] RalphSteinhagen commented on #31
@ennerf could you check/confirm whether the outlier issue is fixed (e.g. with the version in master? If yes, you may close this issue (and add maybe a tag to the issue title accordingly).

The other issue #33 and #34 are kept and will follow-up them there. For the time being, we are working on to reproduce them reliably (existing test cases/samples didn't catch them :-| ).

[2019-09-14 09:58] ennerf commented on #31
@RalphSteinhagen I just tested the latest version in the `dev-x.1.0` branch and it seems like the problem is fixed. Closing this issue. Thanks!

I'm not sure what you mean by adding a tag to the issue title?

[2019-09-14 09:58] #31 closed

[2019-09-14 10:04] ennerf commented on #32
Not really an issue

[2019-09-14 10:04] #32 closed

[2019-09-14 10:27] RalphSteinhagen commented on #33
@ennerf could you recheck if the problem still persists?

JavaFX, as well as Swing earlier, aren't inherently multi-threaded nor thread-safe.
We noticed this issue earlier (e.g. via the global flickering when having high update rates) and thus decided the introduce dedicated Read-Write locking primitives (ie. this is a relatively new feature). The idea is to have consistent plotting while still be

[2019-09-14 10:29] RalphSteinhagen commented on #34
@ennerf: could you check if your use-case is still affected with the latest commit?

The commit related #33 may have solved this issue as well. Thanks in advance.

[2019-09-14 10:34] RalphSteinhagen commented on #7
N.B. we are working on making chart-fx thread-safe. see e.g. #33

[2019-09-14 19:38] ennerf commented on #34
Problem seems to be gone. Thanks!

[2019-09-14 19:38] #34 closed

[2019-09-14 19:40] ennerf commented on #33
Default lock now works with the parallel implementation. Thanks!

[2019-09-14 19:40] #33 closed

[2019-09-14 19:49] ennerf commented on #26
I believe all of the actual issues in this novel have been fixed. Closing.

[2019-09-14 19:49] #26 closed

[2019-09-14 19:51] RalphSteinhagen commented on #26
:smile: @ebold-cscotos  maybe you could post another video of the final result. We'd love to have some external examples/references (N.B. especially since we are (re-)discussing the topic of UDP transmission internally). Thanks in any case.

[2019-09-14 20:33] ennerf opened #35 "line start (from NaN) rendered incorrectly"
@RalphSteinhagen asked for a video in #26. A video of Scope with the latest dev snapshot is here: https://youtu.be/SXEf-2NyUlw

While recording it I noticed two more minor issues:

* in 01:15 I'm starting to send commands, which changes the `positionCmd` (dashed) from `NaN` to the current feedback value. I'd expect the line to start at the first valid point, but for some reason it starts from the

[2019-09-14 21:01] RalphSteinhagen commented on #35
Thanks a lot for the video! Looks very interesting. :+1:

For the time being that's was/is the necessary, defined and intended behaviour (ie. not 'incorrectly' but 'by design').

_A bit of history/rationale on this_:
<details>
  <summary>more..</summary>
_we noticed that the JavaFX rendering pipeline crashes when fed with too many NaNs. In the olden days (Swing) NaNs used to stop/restart the polyl

[2019-09-14 23:04] ennerf commented on #35
Thanks for the info. I don't remember seeing anything related to this in the changelogs for OpenJFX 12 and 13. Have you considered filing a bug report? Now that OpenJFX is independent of the JDK there is a good chance that this could be addressed comparatively quickly. You could always add a runtime constant for maintaining backwards compatibility.

The JDK implementations are general purpose and

[2019-09-14 23:04] #35 closed

[2019-09-17 09:26] ennerf opened #36 "Applications don't close due to user threads in executor service"
Applications that have the parallell rendering implementation enabled don't automatically stop on `Platform::exit` because the executor service creates user threads rather than daemon threads.

I wasn't sure where to put it, but it could be fixed pretty easily with

[code]

I found two Executors, one in `EventThreadHelper` and one in  `CachedDataPoints`.

[2019-09-18 11:14] ennerf opened #37 "Time axis does not handle negative values"
The time axis (e.g. `xAxis.setTimeAxis(true)`) does not handle negative values. I've so far run into this in two cases:

* When a plot starts at time zero and a user tries to zoom out. That causes the bounds to go negative and throw an error.

[code]

* When showing a fixed window size where the time starts at zero, i.e., the left bound for a 10 second window would begin at -10 seconds.

[2019-09-18 12:05] wirew0rm opened #38 "chart-fx x.1.0 roadmap"
Roadmap of changes for the next release of chartfx (x.1.0):

General:
- [x] Replace all occurences of system.out with slf4j
- [x] Use simple default slf4j Configuration for tests and samples. Documentation for library users.
- [x] Travis: allow CI (without deploy) for Pull Requests, check Tag for correct version format, make sure every tag is built

DataSet:
- [x] move from simple lock to (optimis

[2019-09-18 12:55] wirew0rm commented on #37
As I suppose you are not showing dates from the 1970s you are experiencing this with an uninitialized chart? This is probably why this didn't show up earlier, but of course this should be handled gracefully without throwing error messages.

If your time is not unix epoch timestamps, setTimeAxis(true) should not be called. Maybe date/epoch/timestamp Axis would be less ambigious names for this funct

[2019-09-18 13:20] ennerf commented on #37
I figured the time axis would be generally applicable to any time data. I'm often using relative time, e.g., time from whenever the first data point starts.

![image](https://user-images.githubusercontent.com/5491587/65151835-2a505c00-da27-11e9-8f69-3bc579779a98.png)

Aside from the (easy-to-fix) negative number issue, starting at 0 seconds works just fine in the current implementation. Is there a

[2019-09-18 13:49] wirew0rm commented on #37
I guess mostly because that was the assumption when the functionality was written, so you might run into cases that are wrong or at least not well tested.

One obvious (while maybe a bit constructed) example might be, that if you plot a data interval longer than the time from EPOCH to the first leap day afterwards, you will get wrong labels from this time on.
We try to make chart-fx output as inde

[2019-09-18 14:07] ennerf commented on #38
Are the math libraries a selection of what you're already familiar with / using internally, or are you evaluating different projects?

If you're still evaluating alternatives, it may also be worth also taking a look at [EJML](http://ejml.org/) and its' sister libraries [DDogleg](http://ddogleg.org/) and [GeoRegression](http://georegression.org/). The APIs and performance are very good and they're

[2019-09-18 14:55] #37 closed

[2019-09-18 20:10] RalphSteinhagen commented on #38
@ennerf thank you very much for the recommendation. We will take them into consideration.

Since about 2005 we used to use a mixture of JAMA (obsolete), Parallel-Colt (also obsolete), custom fitter (yes, we/I want to get rid of that) and apache-commons-math (maturity of all sub-functionality wasn't clear in the earlier version).

Looking primarily for a robust/fast linear-algebra package and xi²-f

[2019-09-18 21:11] RalphSteinhagen commented on #36
added fix as suggested above. JavaFX thread terminates but there are some unknown 'ForkJoinPool.commonPool-worker-' remaining.
Couldn't find any remaining explicite calls to 'ForkJoinPool...'

[2019-09-18 21:20] ennerf commented on #38
The [Java Matrix Benchmark](https://lessthanoptimal.github.io/Java-Matrix-Benchmark/) (written by the EJML author) has an overview of all the common Java math libraries. [OJAlgo](https://www.ojalgo.org/) looks interesting as well, but so far I haven't had any experience with it.

[2019-09-18 21:33] ennerf commented on #36
Maybe the `parallelStream()` in [XYChart](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-chart/src/main/java/de/gsi/chart/XYChart.java#L247)

See https://dzone.com/articles/be-aware-of-forkjoinpoolcommonpool

[2019-09-18 22:00] ennerf opened #39 "Panner doesn't recover with right-click"
It's not a big issue, but just something that I've run into from time to time. I always use the Zoomer/Panner plugins together and typically use them like this:

**Zoom-first**
* zoom in somewhere
* pan around
* right-click -> returns back to original view

However, when the panner is used first (maybe to better see something on an edge) the default view can't be recovered via right-click, and the

[2019-09-19 06:06] RalphSteinhagen commented on #39
Panner does not implement a stack (Deque) of zoomed/shifted view ranges but modifies the axis ranges directly. Thus the inconsistency.

We will think about whether to either add another stack  (synchronised between Panner/Zoomer) and/or merge the panner with the Zoomer since the functionality is very similar.

[2019-09-19 06:09] RalphSteinhagen commented on #36
switched from `parallelStream()` to `stream()`. Still the same result.... must be elsewhere.
Besides, Java does/should close/daemonize their own ForkJoinPool threads for consistency.

[2019-09-19 07:11] ennerf commented on #36
Yes, the application closes as expected with your latest changes, so this issue is already resolved.

[2019-09-19 07:11] #36 closed

[2019-09-19 07:13] ennerf commented on #39
As a quick workaround it'd also work to have right-click reset to the default view if the zoom stack is empty

[2019-09-19 14:21] ennerf opened #40 "[Regression] GridPane crashes (@1kHz update rates)"
I tried to do a few long-running tests with live-charts at 1KHz and noticed that the latest dev version keeps crashing after 1-2 hours. I did some 24h+ tests last week, so this must be a recent regression.

I've tried a few different versions and it looks like  this was introduced in [minor: made drawing of grid on top/bottom CSS more easily configurable (4d8ebc3)](https://github.com/GSI-CS-CO/cha

[2019-09-19 14:37] ennerf commented on #40
In this case the charts were drawn without a grid, and the only CSS styling was `dataSet.setStyle(...)`

[2019-09-19 15:07] ennerf commented on #40
Damn, 6bb9276 failed as well. I'm not sure what to try next.

[2019-09-20 16:21] ennerf commented on #40
This may be a Linux-only issue. I couldn't reproduce it on Windows yet.

[2019-09-20 17:00] RalphSteinhagen commented on #40
Tried to reproduce, unfortunately, as of now (~11h), cannot reproduce this feature.

We started another long-term test over the weekend using the [RollingBufferSample](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-samples/src/main/java/de/gsi/chart/samples/RollingBufferSample.java), [RollingBufferSortedTreeSample](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-samples/

[2019-09-20 18:07] RalphSteinhagen commented on #40
sorry, saw your "Linux" comment only now. Could you try to periodically call the garbage collector (e.g. calling `System.gc()` twice @0.2 .. 0.5 Hz)? We noticed that the JVM has sometimes hick-ups if it has to do too deal with too much garbage collection at once. Alternatively, one could also temporarily reduce the maximum available memory of the JVM to force more frequent garbage collections -- j

[2019-09-24 23:08] ennerf commented on #40
Sorry, I've been pretty busy with other things. I'll try to get back to you soon. I haven't seen anything out of the ordinary in flight recorder and the gc logs, but I'll give it a try.

[2019-09-25 05:14] RalphSteinhagen commented on #40
We did some longer running tests (>3 days) with no success... next time it crashes, could you provide a thread dump (e.g. using VisualVM)

Will try to write a test example with 1 kHz update: Could you provide me with your boundary parameters: numbers of samples, traces, markers on/off, renderer and/or renderer style: error bars/surface/none, chart dimensions etc.

Thanks in advance.

[2019-09-26 10:51] RalphSteinhagen commented on #39
Added the panner functionality to the Zoomer plugin. Can be configured via a booleanProperty (+setter/getter). Needs some testing w.r.t. secondary effects.

[2019-09-27 06:19] graynk opened #42 "Any way to change color scheme?"
Hi, thanks for the great charting library.

Is there any way to change the color scheme to the one from default JavaFX charts? chart.css doesn't use the colors that I see on the screen and I see that `ErrorDataSetRenderer` uses static calls to `DefaultRenderColorScheme`, but doesn't seem to have a method to set another scheme. `DefaultRenderColorScheme` does have different color arrays as fields,

[2019-09-27 09:46] RalphSteinhagen commented on #42
You can change the colours via the DataSet::setStyle("strokeColor="+...) interface. Similarly, the fill colours etc. can be changed.

Regarding breaking up data into multiple bursts/sub-datasets: in increasing order of complexity you have the option of using
  a) the [FragmentedDataSet](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-dataset/src/main/java/de/gsi/dataset/spi/FragmentedDat

[2019-09-27 19:01] RalphSteinhagen commented on #42
@graynk ... have a look at [CustomColourSchemeSample](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-samples/src/main/java/de/gsi/chart/samples/CustomColourSchemeSample.java)

[2019-09-29 18:22] RalphSteinhagen commented on #40
@ennerf could you check your issue against dev?

I exchanged the existing auto-notification suppression guard with an additional write lock guard around the  `recomputeLimits(..)` (N.B. also by itself write lock protected) in [XYChart](https://github.com/GSI-CS-CO/chart-fx/blob/425a8ea024bbcd4cbf14106d7dc6febd0ec9622c/chartfx-chart/src/main/java/de/gsi/chart/XYChart.java#L252):
https://github.com/

[2019-09-30 11:02] graynk commented on #42
Quick debug showed that after `primaryStage.show()` it gets stuck here on line 149, so a lock has not been released somewhere?
https://github.com/GSI-CS-CO/chart-fx/blob/425a8ea024bbcd4cbf14106d7dc6febd0ec9622c/chartfx-dataset/src/main/java/de/gsi/dataset/spi/FragmentedDataSet.java#L147-L162

There's also a copy-paste typo that I found, it should be `setUnit` here

https://github.com/GSI-CS-CO/cha

[2019-09-30 11:55] graynk commented on #42
Ok, so I nailed down the problem with lock. It's these two lines:
https://github.com/GSI-CS-CO/chart-fx/blob/425a8ea024bbcd4cbf14106d7dc6febd0ec9622c/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/ErrorDataSetRenderer.java#L143-L144
It first acquires read lock, and then on the first line of lambda tries to acquire write lock in `getIndex`

[2019-09-30 14:16] wirew0rm commented on #42
Hey, thanks for hunting down this locking bug, getXindex does not do any changes to the dataSet and should not require a write lock. I fixed this along with the copy/paste bug in df31ebd.

As for separating the data sets, this is currently not implemented in our renderers. I think what Ralph was trying to say was that you can use the FragmentedDataSet to manage all your DataSets as one DataSet but

[2019-09-30 14:43] wirew0rm commented on #42
You could use something like this. While hacking this together i found out that FragmentedDataSet does not expose its child data sets, but that is something that we can definitely change (to run this code i just added a getter).

[code]

Alternatively you could also implement a similar approach adding all datasets into one LabeledDataSet and use labels to mark the "gaps" in your data st the render

[2019-09-30 14:57] wirew0rm commented on #42
see sample in 52b73118e6fecf4d42fc3174bb2768acdb688150

[2019-10-01 11:12] graynk commented on #42
I ended up using this approach in combination with `fragDataSet.setStyle("strokeColor=")`, thus adding only `innerDataSet.setStyle(fragDataSet.getStyle())` to the render sample. Not sure how to combine it with `DefaultRenderColorScheme.strokeColorProperty()` but it works anyway, thank you for the fast responses.

[2019-10-01 12:13] graynk commented on #42
It'd be also nice to style X/YRangeIndicators, since I need several of them with different colors (there's public `setStyleClasses` now, but not `setStyleClass`), but that's beside the issue, I can make it public in my own fork. Thanks again for all your help.

[2019-10-01 13:44] wirew0rm commented on #42
You can use e.g. `innerDataSet.setStyle("dsIndex=0")` to force all datasets to use the first entry of the color scheme.

[2019-10-01 13:44] #42 closed

[2019-10-01 16:02] ennerf commented on #40
Thanks, it looks good so far. I'll let it run overnight.

[2019-10-02 09:28] ennerf commented on #40
Ran it for 20 hours. Seems to work. Closing.

thanks!

[2019-10-02 09:28] #40 closed

[2019-10-02 09:35] ennerf commented on #39
Seems to work well. I haven't run into any unexpected effects yet

[2019-10-02 09:35] #39 closed

[2019-10-02 14:55] ennerf commented on #28
I was able to work around this by excluding everything that isn't absolutely necessary. My only remaining issue is that I've so far been unable to remove or shrink `com.ibm.icu`. ~15MB total is already a lot more reasonable though.

[2019-10-02 14:55] #28 closed

[2019-10-02 15:10] ennerf opened #43 "Jumping x axis"
I keep hitting cases where the x-axis becomes very difficult to read because the axis labels keep "jumping", i.e., every half a second the labels change from [1,2,3,4,5, etc.] to [1.5,2.5,3.5,4.5,etc.].

Here is a video of what I mean: https://youtu.be/RNTAVZD_PDs

I've tried playing around with the tick units, but they don't seem to make a difference. Is there anything else I can do?

[2019-10-02 15:52] wirew0rm commented on #43
You could switch to a different AxisLabelOverlapPolicy, the default is SKIP_ALT, which leads to the "jumpy" behaviour you observe.

Try `chart.getXAxis().setOverlapPolicy(AxisLabelOverlapPolicy.DO_NOTHING)`.
(this will of course lead to overlapping labels, but you might be able to prevent that, e.g. by rotating the labels)

It would be nice to have label positioning more consistent, right now it j

[2019-10-03 10:35] ennerf commented on #43
The `DO_NOTHING` policy actually worked pretty well as is on Windows, but resulted in a lot of overlap on Linux. I found that most of my issues are related to decimal points, so I was able to fix it with a custom string converter that ignores any non-integer values.

Thanks again

[2019-10-03 10:35] #43 closed

[2019-10-03 14:06] RalphSteinhagen commented on #43
N.B. don't discount the other [AxisLabelOverlapPolicy](https://github.com/GSI-CS-CO/chart-fx/blob/dev-x.1.0/chartfx-chart/src/main/java/de/gsi/chart/axes/AxisLabelOverlapPolicy.java) options and/or changing the font (e.g. fixed-width). Otherwise providing another String converter is also a valid option as suggested.

As a side note:
The generic handling of overlapping labels (and appropriate decim

[2019-11-04 14:47] RalphSteinhagen opened #44 "chart-fx x.2.0 roadmap"
Roadmap of changes for the next release of chartfx (x.2.0):

Leftovers from #38 ... to be extended (contributions are welcome)

General:
- [x] modularisation, see also #160
- [x] change licensing model from Apache 2.0 to LGPL v3.0
- [x] remove `@Deprecated` marked API
- [x] reduce code dupplication and refactoring of utility methods
- [x] improve JUnit 5 test coverage
- [ ] Curated docs (beginner

[2019-11-06 07:50] RalphSteinhagen commented on #38
Call for last round ... we are about to close the feature list for this x.1.0 release cycle.

Thanks a lot to @ennerf  and @wirew0rm for your input, contributions, tests a bug-fixes.

Started final testing/integration in view of pull to master and JDK8 and eventual release (~end of this week). Featured not covered in this release were shifted to #44

Please let us know if there are issues (especia

[2019-11-06 08:29] ennerf commented on #38
I've done a release of our plotting tool a few weeks ago, but users ended up preferring the old version. This was primarily due to (1) issues with rendering dashed lines, and (2) users being confused by `nan` lines at the bottom.

It'd be great if you could add a configuration option to render `nan` normally, even if it incurs the performance penalty. If I remember right it required a fork to chan

[2019-11-06 22:29] RalphSteinhagen commented on #38
@ennerf since you helped us a lot with your bug reports and suggestions...
our code monkey has granted you ~~three~~ two wishes. :grin:

N.B. as mentioned earlier: the 'NaN=>min_value' mapping was necessary since the older JDK8/JavaFX/GPU engine tended to crash when pushing too many NaN into the pipeline.

Anyway, I added a flag `allowNaNsProperty()' to the ErrorDataSetRenderer to control the beha

[2019-11-07 01:49] ennerf commented on #38
Thank you! I'm at a conference this week, but I'll try to find some time to test it.

I set the dashed array via styles, but the issue was that they render like a solid line when points are too close. See [Scope #90](https://github.com/HebiRobotics/hebi-scope-feedback/issues/90). Would the change fix this?

[2019-11-07 05:51] RalphSteinhagen commented on #38
yes, b45abf7 also addresses [Scope #90](https://github.com/HebiRobotics/hebi-scope-feedback/issues/90) and statements like `dataSet1.setStyle("strokeDashPattern= 25, 20, 5, 20;");`being now being correctly passed through to JavaFX's `GraphicsContext` rendering pipe-line.

So far I have tested only the correct functioning but not the (possible) line-drawing performance penalty in detail.

Enjoy!

[2019-11-08 14:43] wirew0rm opened #46 "Axis: Minor Ticks are not recomputed on maximise"
If e.g. the AxisRangeScalingSample is Maximized, the minor tick marks are not updated correctly.
Might be a javafx issue, tested with openjfx13.

![image](https://user-images.githubusercontent.com/1202371/68484636-f121b480-023d-11ea-8f8a-0530486575bf.png)

[2019-11-08 14:54] wirew0rm opened #47 "EditDataSet Plugin: Right click context menu conflicts with Zoomer"
Right clicking the chart with both Zoomer and EditDataSet plugin enabled triggers Zoom out and context menu.

Proposal: EditDataSet should consume the click event and either only react near the plot line.

[2019-11-11 13:19] RalphSteinhagen commented on #38
released new ChartFx version [[8,11].1.0](https://github.com/GSI-CS-CO/chart-fx/releases/tag/11.1.0).

This closes this issue. Please let us know if you find bugs, missing features, or have any
questions regarding library usage etc.

Larger new (API changing) features to be collected in #44

[2019-11-11 13:19] #38 closed

[2019-11-11 13:34] ennerf commented on #38
Sorry for the delay. I finally got a chance to test it and so far everything looks good. Thanks again!

[2019-11-12 13:12] karlduderstadt opened #49 "TickLabel clashing and misalignment when rotated -90"
Thanks for developing this awesome plotter! The performance and features are fantastic!

I noticed if I use setTickLabelRotation(-90) on the y-axis, the TickLabels frequently clash and are not centered on the tick mark locations. I realize this might be an unusual use, but I would like to put a set of charts in a VBox and link their x-axes. In this case, it is nice to rotate the y-axis labels, so

[2019-11-12 15:47] RalphSteinhagen commented on #49
Thanks for your interest and for using our little library ... we wrote this out of necessity but are happy to see that this finds us also outside our little research domain.

The following proposal is a temporary work-around until we find/tested/deployed a better/cleaner solution:
[code]

Let me know if this helps your purposes. Thanks in advance

[2019-11-13 08:04] karlduderstadt commented on #49
Thanks for the fast response as well as the suggestion and example code. I have implemented it and this does indeed make things a bit better in terms of the overlapping. It happens less frequently because there are more cases where every other tick label is missing due to the extra spaces.

The alignment is still below the tick mark. I guess this might involve a more complex fix because if you hav

[2019-11-13 10:00] wirew0rm commented on #49
Another option to align your y-Axis would be to assign them a fixed width:
[code]
You would have to play with the correct value here and there might always be corner cases where some label might be bigger. But you could always work around these by setting up a listener to all the axes' widthProperties and change the minWidth there. Another advantage is better readability compared to rotated text.

[2019-11-14 08:26] karlduderstadt commented on #49
This is a great suggestion. I have implemented what you described and it is working really well.

As you suggested, I added a listener to the widthProperty of the yAxis for all stacked plots in my VBox. Then when the width of any of them changes, I find the max width among the charts and set all minWidths to match. This shifts those charts that have shorter tick mark labels to the right, so all th

[2019-11-15 06:17] RalphSteinhagen commented on #49
@karlduderstadt  thanks.

This is a valid minor but nevertheless, systematic bug (or better nuisance :smirk: ) that I'd like to fix before doing the next micro-release (x.1.1 -> target ~weekend/beginning next week).

We try to make the library better, one little commit at a time because this would have otherwise eventually popped-up in our internal use.

[2019-11-17 13:02] RalphSteinhagen commented on #49
@karlduderstadt thanks again for taking the time for testing and reporting this issue. This is valuable for steadily improving the lib where it matters. Would you be willing to re-test this issue?

I fixed the underlying primary issue in the [feature branch](https://github.com/GSI-CS-CO/chart-fx/tree/VerticalTickLabelClash) and added a corresponding [RotatedAxisLabelSample.java](https://github.com

[2019-11-19 07:24] karlduderstadt commented on #49
Took me a little while to get everything running with JDK11 but then I found your helpful instructions at the bottom of the readme. I hadn't made the jump beyond JDK 8 until now.

I have tested the sample you developed and it looks great. Everything works very well for me in the sample. So the issue of -90 tick mark rotation appears to be completely solved and you included some further options whi

[2019-11-19 08:10] RalphSteinhagen commented on #49
@karlduderstadt thanks for checking.

We will merge this then into master (JDK11+), do a rebase for the JDK8 branch and release both accordingly.

[2019-11-19 08:10] #49 closed

[2019-11-19 13:34] wirew0rm commented on #49
changes are in JDK8, not yet released, but you can either use from git or use the snapshot repository, e.g. with maven:

[code]

[2019-11-20 12:35] Vado101 opened #55 "Connecting a chart to fxml"
Hello, everybody! How to connect a chart-fx to a hxml file? Show by example XYChart. Help me please.

[2019-11-25 15:45] wirew0rm commented on #55
Hey,

we are currently working on making fxml support more straightforward, at the moment there are still a few pitfalls you have to deal with in native code.

I have added a (very simple) sample in one of our feature branches:

https://github.com/GSI-CS-CO/chart-fx/blob/feature-dataviewer-window-listener/chartfx-samples/src/main/java/de/gsi/chart/samples/FxmlSample.java
https://github.com/GSI-CS-

[2019-11-26 06:31] Vado101 commented on #55
Thank you so much for the answer and the great charting library!

I will wait for the new version. Hope this helps me.

[2019-11-26 09:48] wirew0rm commented on #55
You can already test the changes in the branch by using the snapshot release if you want to:

[code]

There are a lot of different ways of setting up the chart so depending on how much you deviate from our samples there might be some cases which are still not supported from fxml. These might be missing default constructors/@NamedArg annotations or logic problems in the order required for setting u

[2019-11-26 09:48] #55 closed

[2019-12-02 12:45] ennerf opened #59 "Add default implementation for DataSet2D::get"
`DataSet` has methods `get(int dim, int index)` and `getIndex(int dim, double value)`.

`DataSet2D` provides a default implementation for `getIndex`, but not for the `get` method. It'd be nice if that were added as well.

I tested #58 and haven't checked the develop branch.

[2019-12-05 10:04] dlemmermann opened #60 "Performance Canvas.save()"
I saw your comments on performance in your README. One thing I noticed in your code and that made a big difference for my Gantt chart control FlexGanttFX was to not use Canvas.save() / Canvas.restore(). These are expensive operations. You can get away by simply reverting any changes you made to the canvas. E.g. after calling setTranslateX(10) call setTranslateX(0) once you are done painting. Yes,

[2019-12-05 13:25] RalphSteinhagen commented on #60
@dlemmermann, as always, thanks a lot for your suggestion! I will look into and benchmark this.

Thanks also for your interest and your endorsement.

[2019-12-05 13:46] wirew0rm commented on #59
I'm not really sure what a default implementation of get should do, as the access to the data depends on the implementation of the DataSet.

The getIndex method is different as it only accesses the data using methods from the DataSet2D interface.

Could you clarify on this?

[2019-12-05 14:06] ennerf commented on #59
I thought this was an oversight, but apparently it used to be

[code]

and was deliberately deleted in [3d8e39d](https://github.com/GSI-CS-CO/chart-fx/commit/3d8e39d).

What was the reason for this? The existing implementation looks sensible for `DataSet2D`.

[2019-12-05 19:24] petrov9 opened #61 "How to use project with javafx:jlink ?"
I use this project in another project as dependency and run with VM options:
[code]
it's work fine. But if i try to run with `javafx:run -f pom.xml` get an error Unable to make public static com.sun.javafx.css.StyleManager com.sun.javafx.css.StyleManager.getInstance() accessible: module javafx.graphics does not "exports com.sun.javafx.css" to unnamed module @275b12e

What I should to do and is it

[2019-12-05 20:31] RalphSteinhagen commented on #59
We switched from the specif 2D and 3D DataSet interface to a more generic, stream-line one that does less distinction inside the lib whether the data is 2D, 3D or for that matter 1D or multi-dimensional.

This way one is able to loop through the dimension and to simplify some of the common algorithms for 2D/3D/... N-D which significantly reduces (nearly a factor '2' :smile: ) the amount of custom

[2019-12-07 14:27] RalphSteinhagen commented on #60
Hi again,

I gave it a shot and while I hoped it would -- it does not seem to improve the plotting performance. See the attached performance plot (25 Hz update rate) and committed concept branch for details (will leave this branch for a while for others to explore further). It seems that the remaining 10% load especially for plotting only a few data points seems to be within JavaFX itself.

![imag

[2019-12-08 15:44] minosniu opened #62 "Error when "mvn exec:java" at dataset"
I've tried many JDK versions, along with various sequences of compiling. The error sticks with the above error message about dataset.

MacOS Catalina 10.15.1
OpenJDK 11.0.2
Intellij IDEA 2019.2
Maven 3.6.1

[2019-12-08 16:50] RalphSteinhagen commented on #62
Without a 'pom.xml` this is a bit hard to diagnose. Did you try:

[code]

The `mvn install` is important in this instance if you want to run the examples outside an IDE since the snapshots are not deployed to maven central (only the official releases) but only to the staging area. The `mvn install` pushes this into your local `.m2/...' cache.

Enjoy!

[2019-12-10 11:00] minosniu commented on #62
$mvn install did not solve the problem. However I managed to bypass the problem by disabling javadoc. Tried "mvn clean install -Dmaven.javadoc.skip=true" and saw all the demos.

[2019-12-10 11:00] #62 closed

[2019-12-10 19:27] #61 closed

[2019-12-11 22:09] petrov9 opened #64 "Candlestick chart"
Is it already exists in project, or something similar ?

[2019-12-12 06:38] RalphSteinhagen commented on #64
Hi Anton,

thanks a lot for your interest in using our little chart lib. We haven't got a dedicated [candlestick](https://en.wikipedia.org/wiki/Candlestick_chart) renderer yet since this has not (yet?) been part of our core use case. However, if you like to contribute one, I am happy to integrate this for you into our little library.

There are already a lot of the necessary sub-components impleme

[2019-12-16 12:23] RalphSteinhagen commented on #60
closing this. GraphicsContext save/restore calls did not appear to be hot-spots. Kept them for readability and keeping GraphicsContext changes local for the given code segment.

[2019-12-16 12:23] #60 closed

[2019-12-16 12:24] RalphSteinhagen commented on #59
@ennerf may we close this issue, or is there something that should be fixed?

[2019-12-16 12:45] #59 closed

[2019-12-24 11:17] petrov9 commented on #64
I did not the best realization. But it's work. Will create pull request later.

Double Histogram:
![image](https://user-images.githubusercontent.com/28570170/71410793-bd68e580-2657-11ea-9db8-edbf7cb6bab1.png)

Candle stick:
![image](https://user-images.githubusercontent.com/28570170/71410828-dbcee100-2657-11ea-80b8-142f03f64a3c.png)

[2019-12-25 19:04] RalphSteinhagen commented on #64
@petrov9 the first visual impression looks good.

I am unfamiliar with the 'Double Histogram', so I cannot comment on this.

Two suggestions regarding the 'candle stick' renderer:
1. maybe add more month, or year/months, or a time axis to the horizontal axis in the sample
2. add maybe (optional) dashes on the bottom/top of the low/high vertical lines so that they are more easily distinguished from

[2019-12-27 13:33] ennerf opened #74 "Linux: mouse wheel scroll-in not working"
**OS**
Ubuntu 18.10

**Version**
ChartFX 11.1.0
OpenJDK 13.0.1
OpenJFX 13.0.1

**Issue**
Scrolling in by using the mouse-wheel does not seem to work. Scrolling out produces the same behavior as on Windows and OSX.

I tried to debug this, but I didn't see anything obvious. The generated events look sane (deltaY is +40/-40), and the events aren't being filtered, i.e., setting the zoom-in/out and scr

[2019-12-28 08:51] RalphSteinhagen commented on #74
@ennerf I noticed that there are some other happy coders during the holiday seasons ... :smile:
Unfortunately, I do not seem to be able to reproduce your observations using e.g. the [EditDataSetSample](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/EditDataSetSample.java):

![vokoscreen-2019-12-28_09-39-32](https://user-images.githubusercontent

[2020-01-02 15:27] ennerf commented on #74
No, Zoomer is the only enabled plugin. Same issue on the 11.1.1 version.

If you can't reproduce it, I'll go ahead and close this issue. It's not a required feature, so I've disabled the mouse zoom entirely for now. I'm currently working on a different project, so I probably won't have time to get back to this for a few weeks.

Happy new year!

[2020-01-02 15:27] #74 closed

[2020-01-03 09:34] RalphSteinhagen commented on #74
@ennerf sorry to hear that you had to disable the Zoomer plugin entirely. I'd be happy to fix this but couldn't find a starting point because of not being able to reproduce this feature because of either my specific 'user habits' or need for a bit more information on how to reproduce this.

Please feel free to reopen it.

[2020-01-03 09:49] ennerf commented on #74
For clarification, the rest of the Zoomer plugin works fine. I just added a filter that removes the mouse-wheel-scroll events. As far as I know most users tend to be interested in specific areas, so the mouse-wheel-zoom is more of a gimmick anyways. I'll reopen if I find time to create a minimal sample to reproduce it.

[2020-01-15 15:45] petrov9 opened #77 "TimeAxis range exclude day"
I wanna show for example dates in range 13.01.2020 to 16.01.2020, but exclude 14 and 15 days of january. How I can to do it ?

[2020-01-16 07:41] graynk opened #78 "Zoomer plugin regression: UnsupportedOperationException on clear"
Hi again.

There was a regression introduced in 11.1.1, when underlying deque for zoomstacks in Zoomer was changed from ArrayDeque to ObservableDeque.
[Here](https://github.com/GSI-CS-CO/chart-fx/blob/114f4e0739460280e7f71adbbb10c6e03732e71b/chartfx-chart/src/main/java/de/gsi/chart/plugins/Zoomer.java#L342) it tries to clear zoomstacks, but ObservableDeque does not implement `clear` method, so it

[2020-01-16 08:00] karlduderstadt opened #79 "Negative Points are not registered by the DataPointTooltip Plugin"
There appears to be a small typo in the DataPointTooltip Plugin between lines 155 and 157. Currently the code reads:
[code]
This causes DataPoints to show up at the wrong location for some negative values and correct points not to be registered. Using the lines below seems to fix the issue:
[code]
basically the nextPoint was sent to (x, x) instead of (x, y). This issue only comes up for some range

[2020-01-16 08:22] karlduderstadt opened #80 "The first and last bins of histograms are not drawn"
It seems that the first and last bins of histograms are not drawn. Is this the intended behavior of the render?

The following chart was generated with version 8.1.1 using the ErrorDataSetRenderer with two DefaultNumericAxis using PolyLineStyle LineStyle.HISTOGRAM and ErrorType ErrorStyle.NONE. The only dataset was a Histogram constructed using the double[] bins option to set the start and end pos

[2020-01-16 10:38] wirew0rm commented on #77
Since the time axis is basically a linear axis, it doesn't supports jumps in the time. You could implement your own axis with a custom transform that skips these days. If you look at the parts of the code that implement the logarithmic axis you might get an idea of what would be needed for this. It might upset things like the Zoomer plugin though.

Another option could be to add a chart for every

[2020-01-16 13:17] wirew0rm commented on #80
I can reproduce. This seems to be 2 (or even 3) different problems. on the left, the bar appears when panning a little bit to the left, on the right it shows when point reduction is turned off (renderer.setPointReduction(false)) but the last line segment is missing.
![image](https://user-images.githubusercontent.com/1202371/72528234-dfc2dd00-386a-11ea-8923-631f2e2d3c27.png)

[2020-01-16 14:34] wirew0rm commented on #79
This will be merged in the next days, thanks for reporting :+1:

[2020-01-16 15:18] wirew0rm commented on #80
I got a partial fix, but there is a deeper problem with rendering histograms with non-equidistant bins. The dataset interface for Histograms returns the center and therefore the renderer cannot reproduce the actual binning. This will probably need some deeper api changes to get it right.

Your sample looks pretty equidistant, so if your usecase is equidistant use the min/max/nBins constructor whic

[2020-01-16 16:06] wirew0rm commented on #78
Hi, thanks for reporting this, I guess we never clicked on the reset zoom button.
We really need unit testing for stuff like this.

The fix will be merged soon and we will have a new release in the next few days.
Sorry for the inconvenience,

Alex

[2020-01-17 07:12] karlduderstadt commented on #79
Awesome!

[2020-01-17 07:24] karlduderstadt commented on #80
Thanks so much for your fast response and very helpful feedback!

Yes, the bins are equidistant, so in principle the Histogram constructor that accepts min, max, and bin count would be ideal. Unfortunately, I ran into some trouble with that one which is why I switched to the constructor that just takes the list of bin boundaries.

When I plot the same data as I mentioned above with min = -2.0, max

[2020-01-17 15:52] #79 closed

[2020-01-17 15:52] #78 closed

[2020-01-27 12:25] wirew0rm commented on #46
fixed in 8d289df

[2020-01-27 12:25] #46 closed

[2020-02-22 21:34] SylvainBertrand opened #104 "Custom legend is not visible - FIXED"
Hi!
Thanks for providing this great alternative for charts with JavaFX, the struggle has been real!

Ok so the issue is rather simple: when setting the legend of a `XYChart`, this legend is not visible unless you cycle the `Chart.legendVisible` property. The issue shows up for any legend implementation, even `DefaultLegend`.

I'm depending on the version 8.1.1.

I used `SimpleChartSample` to highl

[2020-02-24 11:56] RalphSteinhagen commented on #104
Hi!

Thanks for reporting and providing a short example. This helped and sped up fixing this a lot.

The new custom `Legend` was added to the wrong (super) pane (error in the corresponding ObjectProperty implementation) and subsequent cycling through the `Chart.legendVisible` property triggered the correct code. Should be fixed now in the rstein-feature branch and merged into master soon (< a week

[2020-02-24 16:00] SylvainBertrand commented on #104
Awesome!
Thanks for the quick response!

The legend I implemented is quite specific to the application, not sure if that'd be desired for other applications:
![B3E15xv3lG](https://user-images.githubusercontent.com/15932806/75167782-85c7f980-56eb-11ea-9136-421159c4ae4b.gif)

As you can see, the charts are being stripped to the bare minimum, the goal is to be able to plot up to 24 charts per window,

[2020-02-24 16:25] SylvainBertrand opened #105 "Tick are still computed even if all three minor-tick, tick-label, and tick-mark are set to not visible"
Hi!

So I'm using the `XYChart` and stripped it to the bare minimum, i.e. the plotted data and the legend. I discovered that when creating a bunch of new charts, i.e. up to 24 at once, the creation time was pretty significant in my case. Profiling the creation of the charts revealed that the computation of the tick info is the culprit, more precisely `AbstractAxis.recomputeTickMarks(AxisRange)`:
!

[2020-02-24 16:56] RalphSteinhagen commented on #104
I see. You seem to follow a minimalist approach and need plotting performance.

[2020-02-24 17:02] SylvainBertrand commented on #104
Exactly and JavaFX's been beating me down with the performance issue.
I got an interest about your (possibly long term) objective of tackling down the performance issue of JavaFX and would like to talk about it. Not sure what's the right place and person to do discuss that, could you direct me please?

[2020-02-24 17:11] RalphSteinhagen commented on #105
Hi,
this is indeed one of the rare corner use-cases. The conditional skipping of re-computing the ticks/labels depending on the `minorTickVisible`, `tickLabelsVisible`, and `tickMarkVisible` seems to be the most promising/least effort option. Do you need the `GridRenderer` that's the only other dependency that I reckon needs the ticks.

Alternatively, since you do not seem to need ticks/labels, ha

[2020-02-24 17:18] SylvainBertrand commented on #105
Indeed I'm not using the `GridRenderer` making this even more of a weird use-case.
Thanks for the advice, seems like a better option than what I thought, I'll give it a shot!

Thank you!!

[2020-02-24 17:18] #105 closed

[2020-02-24 19:07] RalphSteinhagen commented on #104
@SylvainBertrand, certainly. Am curious about your use-case. You may contact me at my @GSI address. We are also dealing with real-time signal processing and feedback and using Java/JavaFX (on the desktop) as an unusual use-case as well.

[2020-02-27 19:22] RalphSteinhagen commented on #104
fixed and merged to master

[2020-02-27 19:22] #104 closed

[2020-03-04 05:03] SylvainBertrand opened #115 "Impossible to hide axis label"
This issue new with the version 11.1.2, wasn't there in 8.1.1.

The real issue is that there is no direct control over the visibility of the axis label.
From looking at the code, for instance `AbstractAxis.computePrefWidth(double)`, it seems that the intention is that if the text in `AbstractAxisParameter.axisLabel` is either null or empty, then the label would be hidden. However, after a call to

[2020-03-04 07:46] RalphSteinhagen commented on #115
Hi,

this seems to be a duplicate of issue #105, is already fixed with commit #d4eaa6b and pushed to master.

The ticks and labels can be suppressed e.g. via:
`	DefaultNumericAxis yAxis = new DefaultNumericAxis();
    	yAxis.setTickLabelsVisible(false);
    	yAxis.setTickMarkVisible(false);
    	yAxis.setMinorTickVisible(false);
`
N.B. the grids are based on the computation of the major ticks, ie.

[2020-03-06 07:32] RalphSteinhagen commented on #115
I close this issue since this seems to be fixed in master.

[2020-03-06 07:32] #115 closed

[2020-03-12 13:20] ennerf opened #122 "11.1.3 tick label gap rendering change"
I just tried to update to the latest version and found that the x-axis labels are now being rendered outside the lower bounds. It seems that the behavior of the tick label gap has changed from being applied horizontally to being applied all around.

Was this a conscious choice? If so, is there a way to get the old behavior back?

**11.1.2** (tick label gap 30)
![image](https://user-images.githubus

[2020-03-12 17:38] wirew0rm commented on #122
It was a conscious bugfix, but we did realize that this option could also be used for your purpose.

As the [javadoc](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/axes/Axis.java#L120-L123) says, the purpose of this property is to set the spacing between tick mark and label. That it also affects spacing between the labels is only because for the relativ

[2020-03-12 18:01] ennerf commented on #122
The `maxMajorTickLabelCount` seems like a better way to go about it. Thanks 👍

[2020-03-12 18:01] #122 closed

[2020-03-12 18:24] ennerf opened #123 "3D Line Chart"
I'm currently trying to plot data in a 3D line chart similar to MATLAB's `plot3` command. I haven't used the 3D interface yet, but if I understand correctly there is currently no actual 3D grid/view, right?

What do you think would be the best way to implement something like this?

**MATLAB sample code**
[code]

**view 1**
![image](https://user-images.githubusercontent.com/5491587/76554483-4133b08

[2020-03-12 22:03] wirew0rm commented on #123
You are right, there is no real (projection) based 3D rendering in chart-fx. We added a MultiDimDataSet with the 11.1.3 release, which could hold xyz-data like your matlab sample.

Then there's MountainRangeRenderer and ContourDataSetRenderer (and HistoryRenderer kind of also fits here) but they work on data points on a cartesian grid (xmesh, ymesz, zz in matlab notation I believe). Originally thi

[2020-03-13 08:14] RalphSteinhagen commented on #123
@ennerf thanks again for your faithful testing and quick and constructive bug and feature reports.

A bit of context from our side: plotting 3D is also a strategic goal for us and the DataSet interface -- which we maintain internally both for Java/C++ -- should also be flexible enough to handle this. As @wirew0rm mentioned, we may need to iterate on the specific 3D data storage example implementat

[2020-03-13 11:07] ennerf commented on #123
Our use cases for 3D are a bit different from 2D and don't require the same update rates. We would typically do one of:

(1) show a full 3D representation of the physical system (e.g. .obj models) and update the transformations
(2) show data from a log file that would never need to update.

I have done some tests with [Jzy3d ](http://www.jzy3d.org/)(JOGL based) and [FXyz](https://github.com/FXyz/F

[2020-03-19 18:17] zanzica opened #129 "Specified TickUnit has no effect on time axis (DefaultNumericAxis)"
Hi,

I noticed that the TickUnit does not seem to have any effect on a time x axis (DefaultNumericAxis). I attached an example.

When setting tick unit to 30 (seconds), I would expect to see tick marks every 30 seconds, however I see tick marks every minute.

I traced the problem to AbstractAxis#layoutChildren, line 1255:
`setTickUnit(computePreferredTickUnit(axisLength));`
As far as I can see, th

[2020-03-19 18:50] zanzica opened #130 "Missing lines when data point is outside of x axis range"
When I have two values A and B as subsequent values in a data set, and the x value of one of them (e.g. of A) is just outside the x axis range, the line to the other data point (e.g. B) is sometimes (but not always) not drawn. This is especially noticeable when the x axis range is shifted: Lines at the range edges suddenly vanish or appear.
This does not always happen when one data point is outsid

[2020-03-19 19:40] RalphSteinhagen commented on #130
Hi Anne (@zanzica) and welcome to GitHub!

This is by design and for performance reasons to minimise the necessity for doing (costly) interpolation between points and/or clipping at the boundaries (Canvas clipping is costly for large DataSets with JavaFX, you may check this e.g. via turning the `isAssumeSortedData()` off)

The ErrorDataSetRenderer always draws from the first to the last point that

[2020-03-19 21:07] RalphSteinhagen commented on #129
@zanzica thanks for reporting. The fix is not quite as trivial without breaking the other use-cases. Hope that I found a good compromise. See also PR #131

[2020-03-20 08:10] zanzica commented on #130
I suspected that it might be connected to performance improvements. If including one outside point on each side of the drawing range, as implemented in your pull request #132 , does not cause any (relevant) performance degradation, I would be happy to see it merged. Otherwise I'll try to implement something similar in [DataSet]#getIndex as you suggested.

Thanks for the prompt reaction!

[2020-03-20 13:09] RalphSteinhagen commented on #80
Hi @karlduderstadt, just as an update:
the first/last bin not being drawn seems to be solved now by PR #132.

The issue of 'half-a-bin-shift' seems to occur only for the non-equidistant binning option which is a bit special. The latter does not (yet) provide the necessary API info of where to draw the specific edges and unfortunately, this cannot be automatically determined. This is different for

[2020-03-20 14:01] zanzica commented on #129
I just noticed that the Javadoc for DefaultNumericAxis states:

[code]

Is/was this supposed to be the correct behaviour?

[2020-03-20 15:33] RalphSteinhagen commented on #129
yes, until you opened this issue. ;-)

The main original rationale was that one needs to (must) recompute the tick-unit if one zooms, drags or changes the axis range (e.g. sliding/increasing time-axis).

[2020-03-20 18:01] #130 closed

[2020-03-24 12:25] zanzica commented on #129
I can confirm that the changes fixed this issue, thanks! Closing this issue as discussed with @wirew0rm .

[2020-03-24 14:53] RalphSteinhagen commented on #80
fixed by #132 and merged. closing issue

[2020-03-24 14:53] #80 closed

[2020-03-24 17:13] zanzica commented on #129
Unfortunately I realized that the implemented fix breaks working with custom TickUnitSuppliers. :-(
I'm reopening this issue (because this is related to its fix), but feel free to move this into a separate issue if it suits you better.

The use case for which I created a custom TickUnitSupplier is that I am working with timestamps in nanoseconds, and wanted to define custom tick units based on the

[2020-03-25 09:48] wirew0rm commented on #129
Reverted back to the original behaviour, thanks for the detailed error description.

Regarding documentation, it is unfortunately not as simple as updating the Javadoc, since this the documented behaviour is correct for the other axis implementations. We will have to think about this some more.

[2020-03-25 09:48] #129 closed

[2020-03-29 12:52] karlduderstadt commented on #80
Hi @RalphSteinhagen,

Thanks very much for fixing this issue. Once you make a new release, I will test the fix and report back. Unfortunately, I haven't been able to configure my environment properly to compile and test our the unreleased version.

[2020-03-30 08:46] wirew0rm commented on #80
You could also use the snapshot build, we have recently added some documentation for that to our README.md: https://github.com/GSI-CS-CO/chart-fx#using-the-snapshot-repository

But it also won't be that long before the next release, so you can definitely also wait for that.
Thanks for keeping in touch.

[2020-04-06 19:49] selamiwork commented on #64
Hi, did you finish the candlestick renderer ? if you share the source code, it will be very pleasure ?

[2020-04-14 13:13] hannabasha opened #156 "working with module-info.java"
Hi,

First of all, thanks for providing such a great library and for maintaining it.

I use gradle. chart-fx works perfectly fine until I make my project modular.

I started with a simple project that has an fxml with one label. my controller sets the label and my main class which extends Application just loads the xml. I made my application modular and inside my build.gradle I added
`compile grou

[2020-04-14 14:11] RalphSteinhagen commented on #156
@hannabasha  thanks for your feedback and interest in using chart-fx!

I am not a gradle expert (we mostly use Maven internally). Through Maven the following compatible JavaFX version is automatically pulled:
javafx-* version: 13.0.1
batik-* version: 1.12
These seems to be different than yours. We haven't tested this with JavaFX 14. Could you retry this with the latest chart-fx release (11.1.4) an

[2020-04-14 14:22] hannabasha commented on #156
@RalphSteinhagen
Thanks for your quick reply!

I tried including javafx 13 and not I get 66 errors "Posted at the end of this comment". They all seem to be trying to access 'org.w3c.dom' or 'org.w3c.dom.events' from two different locations. I tried using javafx version 13.0.1 but I don't use batik, should I? I am not familiar with it anyways.

`error: the unnamed module reads package org.w3c.dom f

[2020-04-14 15:20] RalphSteinhagen commented on #156
batik is being pulled in via the 'javafxsvg' package. It's needed for reading in the icons. Just to confirm, you can compile and run the examples?!?

[2020-04-14 17:04] ennerf commented on #156
I haven't encountered this before, but Gradle should be pulling the same dependencies. Maybe you have another dependency that is pulling another version? It'd be good to check the dependency tree (see [debugging dependencies](https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html))

Out of curiousity, what's your reason for needing a modular jar file? There may be other ways

[2020-04-14 17:09] ennerf commented on #156
On a related note, it'd be good to specify the automatic module name via the Manifest (see [example](https://github.com/HebiRobotics/MFL/blob/master/pom.xml#L197-L213))

[2020-04-15 08:11] wirew0rm commented on #156
I'm also not very familiar with gradle, but I'm irritated by the `compile group` line you are using, as maven central suggests `implementation 'de.gsi.chart:chartfx-chart:11.1.4'` for using chartfx with gradle. Are you trying to build chartfx yourself as part of your own compile process instead of using the prebuilt jars from maven central or is this somehow different for modularized builds?

When

[2020-04-15 08:54] hannabasha commented on #156
@RalphSteinhagen I didn't try to run the samples. I was just getting started with my application and I wanted to set up the charts.

@ennerf I am going with the modular jar file to do jlink. I am a beginner in gradle and so thanks for sharing the idea of having a standlone jlink. I will try that. So, what I got from you is that I can't have a modular project because chartfx as a dependency is not

[2020-04-15 10:03] ennerf commented on #156
No, what I'm saying is that `jlink` creates a **custom runtime that is able to run non-modular applications**. I've implemented the following workflow as a cross-platform maven-ant task:

1) Setup; Download JDK and OpenJFX jmods, extraction, etc.
2) Use `jlink` to generate a minimal `runtime-image` that includes the required JDK and OpenJFX modules
3) Generate an `application-image` that includes

[2020-04-15 12:27] hannabasha commented on #156
@ennerf Thank you!

And thanks for all the responses and your kindness! I believe I got my answer and I am closing this!

[2020-04-15 12:27] #156 closed

[2020-04-17 16:58] carbotaniuman opened #157 "Change Color of DefaultNumericAxis TickMark labels"
I'm trying to accomplish a dark theme style for my graph, and the current barrier to that is the fact that the TickMarks in the graph are black, like so:

![Capture](https://user-images.githubusercontent.com/41451839/79594531-c49e7e00-80a2-11ea-8436-f2e35c06929f.PNG)

I've tried looking at the `de.gsi.chart.axes.spi.TickMark` class, but it does not have a styleclass added. Is there any way I can s

[2020-04-18 19:34] RalphSteinhagen commented on #157
Hi @carbotaniuman thanks for your interest and welcome to the growing Chart-fx community.

There are CSS as well as direct access methods to change the colour, font, stroke, stroke width etc.. programmatically. You may try:
[code]
should yield the following:
![image](https://user-images.githubusercontent.com/46007894/79669432-b1cb9c80-81bb-11ea-8e57-167ceab268a0.png)
(N.B. sorry for the intentiall

[2020-04-19 14:32] carbotaniuman commented on #157
What is the CSS selector for `xAxis.setTickLabelFill(Color.DARKGREEN);`?

[2020-04-19 15:39] RalphSteinhagen commented on #157
The mentioned fix 82ebf46 is now merged. You may want to re-pull master and/or use the JDK11 [snapshot release](https://github.com/GSI-CS-CO/chart-fx#using-the-snapshot-repository).

Before this you would have had to use the generic `-fx-fill` (declared originally in `Shape`) tag, but now this can (again) be more specifically set for TickMarks via the setter/getter/property and/or the `-fx-tick-la

[2020-04-20 14:22] hannabasha opened #161 "Can't run samples from command line windows"
Hi,

So, I downloaded the charts and tried to run them by doing
`mvn compile install`
but that unfortunately failed with the following error

[code]

I am using java 13.0.2 with maven 3.6.3.

I also tried that with versions 14.0.1 and 11.0.6 with no luck.

Am I missing anything? I am new to maven. So any help would be appreciated!

Thank you!

[2020-04-20 22:18] RalphSteinhagen commented on #161
@hannabasha my initial gut feeling is that you are using a not (yet fully) supported/tested combination of JDK and OpenJFX.
The specific error (if one may call this actually an "error") seems to a be related to a recently tightened interpretation of the JavaDoc syntax rules in the latest [non-LTS JDK](https://www.oracle.com/technetwork/java/13-relnote-issues-5460548.html) version w.r.t. the previo

[2020-04-21 07:45] hannabasha commented on #161
@RalphSteinhagen thanks for your response!

So, I tried the example [FourierSample.java](https://github.com/GSI-CS-CO/chart-fx/blob/akrimm-auto-module-name/chartfx-samples/src/main/java/de/gsi/math/samples/FourierSample.java) example. I used Intellij with Java jdk 11.0.6, language level 8 with Javafx 13. my gradle.build looks like this

[code]

Unfortunately, I get the following error

[code]

I a

[2020-04-21 09:41] wirew0rm commented on #161
I read up about the `compile group` vs `implementation` difference (see [here](https://stackoverflow.com/a/44493379)) and it seems you can also use `api` which will also add the chart-fx dependencies transitively to your gradle project.

Could you try to use `api` instead, maybe that will make javafx available for your project?

About javafx being inside the jdk folder or not, this used to be the

[2020-04-21 10:04] hannabasha commented on #161
Thanks for explaining the older/newer versions of java and javafx. It makes a lot more sense now. And I also upgraded the language level to 11.

So, I had to change my plugin from `java` to `java-library` to be able to use `api`. However, that didn't fix the problem. I cleaned and re-built gradle with no use.

Any other ideas why I am encountering that issue?

[2020-04-21 11:53] hannabasha commented on #161
Hi,
so I tried with java jdk 11.0.6 and 14.0.1 with `api` and `implementation` and Javafx version 14, it passed the exception of not finding the module and now it's throwing an exception inside adding the chartfx plugins as in the following code
`getPlugins().add(new ParameterMeasurements());`
the exception I am receiving right now is the following

[code]
and if I scroll down I see the following

[2020-04-21 13:53] wirew0rm commented on #161
Possibly relevant controlsfx issue: controlsfx/controlsfx#1245
This also links to their wiki page about fixing access violation problems.

Note that chartfx is developed on javafx13, so while things might work with javafx14, you might encounter more problems there than on the versions @RalphSteinhagen mentioned.

[2020-04-22 06:30] hannabasha commented on #161
@wirew0rm thanks for linking that issue and the wiki, it's helpful to know that. However, I did try that and it didn't work. I think it's because I am not linking GlyphFont in my Project, to me it seems that it's coming from chartfx.

I understand the javafx13 version, the thing is as mentioned in my second comment, I am faced with the following exception
`java.lang.module.FindException: Module ja

[2020-04-22 10:17] RalphSteinhagen commented on #161
@hannabasha Chart-fx works also with gradle and w/o modifications to the library itself. Your issue seems to be build system related.

Java introduced with JDK9 a [Jigsaw](https://openjdk.java.net/projects/jigsaw/) module system that (among other things) requires that modularised packages need to be explicitly exported to unnamed modules (which Chart-fx, for the time being, is due to reasons outli

[2020-04-22 22:14] MichelMunoz opened #162 "JDK13 change that is possibly useful for rendering performance"
Since performance was and is the core goal of your project, and you seemed unsatisfied with the final performance obtained.
So, just in case it has not already been taken into account in your project, at first glance, the following change in openJdk might be of interest to you "Add native rendering support by supporting WritableImages backed by NIO ByteBuffers" :
[https://bugs.openjdk.java.net/bro

[2020-04-23 07:50] wirew0rm commented on #162
Hey there, thanks for your interest in chart-fx.

The `WritableImage` ByteBuffer API was already brought up in #32, but the discussion about this happened outside of the Issue, so I'm gonna sum up our take on this topic here.
I actually played around with it for a later discarded `ContourDataSetRenderer` rewrite (it was later rewritten using the regular PixelWriter API) and the takeaway is, that t

[2020-04-23 07:50] #162 closed

[2020-04-23 09:00] hannabasha commented on #161
@RalphSteinhagen  thank you so much!

Those jvmArgs did the trick for me! I appreciate all your help and time guys!

[2020-04-23 09:00] #161 closed

[2020-04-23 15:26] MichelMunoz commented on #162
It makes sense to close the ticket then. Thanks for answering.

[2020-04-24 15:10] dedeibel opened #163 "ToolBarFlowPane does not wrap anymore in v11.1.4"
It seems like ToolBarFlowPane does not wrap plugin icons anymore if the space becomes to small. At some point the height increases but the icons remain in the first row.

It works if I remove the changed line 82 form `adjustToolBarWidth` in `ToolBarFlowPane.java`.

`        this.setWidth(length);`

[2020-04-24 20:27] RalphSteinhagen commented on #163
@dedeibel It seems to be a JavaFX layout bug of FlowPane in a combination of being embedded in a StackPane. Removing the `setWidth(length)` made it worse as the toolbar unnecessarily maximized to the full chart width.

Added a workaround of forcing specific width, height and preferred wrapping width.
Not ideal... but should do for now. Will re-check once we move to a newer JavaFX version.

Fix is

[2020-04-25 15:12] RalphSteinhagen commented on #157
I will close this issue since the functionality/fix is merged and we did not receive any more feedback. Please feel free to reopen if you find that this still does not suit your needs.

[2020-04-25 15:12] #157 closed

[2020-04-30 16:38] RalphSteinhagen commented on #163
@dedeibel is your problem solved with this patch?

[2020-05-04 13:14] dedeibel commented on #163
@RalphSteinhagen unfortunately there seems to be a problem at some point of the wrapping – some elements are wrapped before the second line is established.

![chart-fx-master-20200504-tb-pane](https://user-images.githubusercontent.com/26708/80969430-e07f7f00-8e19-11ea-9135-e683cc2b94a2.png)

Not sure how critical this is but it also seems new to me.

[2020-05-04 13:27] RalphSteinhagen commented on #163
Hi @dedeibel, as mentioned above this seems to be a JavaFX feature: FlowPane inside StackPane (via JavaFX/ControlsFX Skin) that does not allow automatically managing the size of its children.

The commit a94e115 is merely workaround for one of the symptoms but leaves the known -- albeit less likely -- side-effect you also mentioned.

Unfortunately, I do not see any easy option of fixing this from

[2020-05-07 13:12] Vado101 opened #181 "StackOverflowError in method binarySearch()"
Hello, everybody! I try to make oscilloscope using chart-fx. I use FloatDataSet to display oscilloscope data. I get data blocks from sound cart and send send it to display a chart. When I run my program I often get an error:

[code]

How can I fix it? Help me please.

[2020-05-07 15:12] RalphSteinhagen commented on #181
Hi @Vado101, which specific DataSet implementation do you use or do you use your own?

In case you use one of Chart-fx's default implementation: is your input data sorted? The binarySearch recursion typically fails in case of the latter if a non-sorting DataSet is chosen. The `LimitedIndexedTreeDataSet` is usually a safe choice for arbitrary data. Due to the large CPU/memory performance penalty, s

[2020-05-09 07:54] karlduderstadt opened #182 "setLegendVisible(false) does not hide legend"
After updating to version 8.1.4 the setLegendVisible(false) function of Chart no longer completely hides the legend. You can see from the clipping at the bottom, a white box remains:

![Screenshot 2020-05-09 at 09 51 50](https://user-images.githubusercontent.com/17951396/81467692-b8f23300-91da-11ea-95be-c8b74e95e579.png)

Using setLegend(null) does hide the legend. But then a warning message appea

[2020-05-09 08:06] karlduderstadt commented on #80
So I finally had a chance to update to version 8.1.4 and test the histogram again. We use them everyday, but I just didn't have a chance to test to new version until now.

The first bin draws!! So that seems to be fixed. However, the last bin still don't draw for me. See image below:

![Screenshot 2020-05-09 at 10 02 47](https://user-images.githubusercontent.com/17951396/81467945-6ca7f280-91dc-11e

[2020-05-11 10:57] RalphSteinhagen commented on #80
Hi @karlduderstadt

I gave it a quick try and appears to work:
![image](https://user-images.githubusercontent.com/46007894/81553590-a9631d80-9385-11ea-873b-63b9c42e3f84.png)

Could you check this against the master and/or the JDK11 snapshot @wirew0rm mentioned above? Unfortunately, we haven't had the time to backport all recent changes to JDK8 yet but plan to do another x.1.5 release soonish.

N.B

[2020-05-12 06:49] Vado101 commented on #181
Thanks so much for the help! I solved my problem. I used multiple threads to draw a oscilloscope. Threads were't synchronized, so this error occurred. :)

[2020-05-14 11:20] RalphSteinhagen commented on #182
@karlduderstadt, sorry for getting back late. It should be fixed now.

There was a spurious `System.err.println(..)` left in the code and the Legend added/removed from the wrong sub-pane in case of setting the Legend (in-)visible.

[2020-05-19 15:16] karlduderstadt commented on #182
Hi @RalphSteinhagen,
Great! Thanks! I will give the snapshot build a shot and then close the issue if everything is resolved.

[2020-05-26 11:20] wirew0rm opened #193 "Refactor math functions"
Currently a lot of math utility classes are available in chatfx-math and to a smaller degree also in the other modules. We should make it easier to locate these functions and ensure that their interface is consistent.

Goals:
- consistent location and interface
- de-duplication
- consistent with java.lang.Math
- coarse separation:
  - MathConstants (+Math delegates because Math is final)
  - Math

[2020-05-26 11:52] ennerf commented on #193
FWIW, if there are not a ton of files, I found the easiest way to generate matching implementations for float/double/int etc. types is to provide the implementation for a single type, and use copy/replace ant tasks to "generate" the others. This requires no extra toolchain and is guaranteed to always be in sync.

For example, this [maven-antrun-plugin](https://github.com/HebiRobotics/QuickBuffers/

[2020-05-26 11:55] RalphSteinhagen commented on #193
@ennerf thanks for the (also earlier) hints and liks. We discussed this and are seriously considering code generation for this.

[2020-05-26 12:01] RalphSteinhagen commented on #64
@petrov9 what's the status of this? The teasers are quite nice. Are you still planning a PR?

We will be moving/starting soon with the move to the new x.2.y API (see #44)

Looking forward!

[2020-05-26 12:12] ennerf commented on #193
Sounds good. Depending on how large the math implementation gets, you may also want to take a look at [EJML's autocode](https://github.com/lessthanoptimal/ejml/tree/master/main/autocode) for inspiration (e.g.  [GenerateJavaCode32.Java](https://github.com/lessthanoptimal/ejml/blob/master/main/autocode/src/org/ejml/GenerateJavaCode32.java)). It's basically the same as the ant example, but for a more

[2020-05-27 08:12] RalphSteinhagen opened #194 "change return signature of 'render(...) from 'void' to 'List<DataSet>'"
To keep a consistent colouring scheme, Legend item ordering, to keep track of which DataSets are drawn by which renderer, and other (future) use-cases it is proposed to change the interface

https://github.com/GSI-CS-CO/chart-fx/blob/8485ed6cc44f2eb531cfe55c10411c0a1da35c6e/chartfx-chart/src/main/java/de/gsi/chart/renderer/Renderer.java#L37

return signature from `void` to return a `List<DataSet>`

[2020-05-27 08:56] RalphSteinhagen opened #195 "add 'axisDimIndex' ID & EventSource to AxisDescription interface"
The proposal is to extend the [AxisDescription Interface](https://github.com/GSI-CS-CO/chart-fx/blob/8485ed6cc44f2eb531cfe55c10411c0a1da35c6e/chartfx-dataset/src/main/java/de/gsi/dataset/AxisDescription.java) to include a mandatory  `int axisDimIndex` getter and `EventSource` parent.

The `AxisDescription` interface is used in
https://github.com/GSI-CS-CO/chart-fx/blob/8485ed6cc44f2eb531cfe55c1041

[2020-05-29 07:00] RalphSteinhagen commented on #193
@ennerf would you be willing to help with refactoring and auto-code generation?

Many of these functions deal with simple boxed/unboxed primitive array conversions or format type conversions (ie. `float[]` <-> `double[]`, `Float[]` -> `float[]`). These should be kept in a simple class alike, for example, the present [GenericsHelper](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-dataset

[2020-05-30 21:03] ennerf commented on #193
@RalphSteinhagen Potentially. I'll reach out via Hangouts.

Would the intermediate/final results of `ArrayMath::calculateFilterParams/filterSignal` for `int[]` arrays be `int` as well, or would they still be `double`? (i.e. would a simple search-replace work or would it need to be smarter?)

[2020-05-31 14:30] RalphSteinhagen commented on #193
Actually I should/need to refactor these functions. They should be in another `FIRFilter`-type class similar to the IIR filter methods. Otherwise, most of the functions are search-and-replace plus basic primitive casting.

[2020-06-03 12:47] Vado101 commented on #181
The indicated error occurred again. I use `FloatDataSet dataSet`. I have a method in which I fill in my data:

`public void setAxesValues(float[] signalData) {
        xValues = new float[signalData.length];
        yValues = new float[signalData.length];

        float sampleRate = 44100.0f;

        for (int i = 0; i < signalData.length; ++i) {
            xValues[i] = ((float) i) / sampleRate;

[2020-06-03 13:50] wirew0rm commented on #181
Can you try to get a full stack trace to find out, where the call to binarySearch is coming from? E.g. set a breakpoint on StackOverflowException in Eclipse and debug.

From the code you've shown everything should be fine, x is sorted and dataSet.set is writeLock guarded, so the xValues of dataSet should at all times be sorted.

Also more context on your setup would help (which Renderer(s), any Pl

[2020-06-05 14:52] wirew0rm opened #204 "ValueIndicators: Handle multiple axes"
If axes have multiple axes the DataSet measurements have to determine, which one belongs to the selected DataSet and generate the corresponding indicators.
Until recently only the first global axes where used so it was impossible to have indicators/measurements for multiple renderers/axes.
For now this is mitigated by disabling the re-use of indicators by default when more than 2 axes are present:

[2020-06-07 23:31] ennerf commented on #193
I created a little proof of concept on [ennerf/codegen](https://github.com/GSI-CS-CO/chart-fx/compare/master...ennerf:ennerf/codegen
)

The `maven-exec` plugin calls a Java executable defined in the `codegen` module, which searches for all files that match a naming convention (e.g. ends in `GenBase.java`). It then looks for some comments/sections in the source file and generates appropriate conten

[2020-06-13 06:43] RalphSteinhagen commented on #182
@karlduderstadt we just released a new version of chart-fx with the above-mentioned fixes in place. I would thus close this issue.

Please feel free to reopen this issue if there are still problems.

[2020-06-13 06:43] #182 closed

[2020-06-14 02:09] mikhalkovnik opened #212 "Mismatched javadoc in Zoomer.java"
Hi, I just noticed some mismatching in the javadoc:
[Zoomer#setPannerEnabled](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/plugins/Zoomer.java#L574): javadoc `@link` to[ `#sliderVisibleProperty()` ](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/plugins/Zoomer.java#L668) instead of [`#pannerEnabledProperty()`

[2020-06-14 19:41] RalphSteinhagen commented on #212
@mikhalkovnik well spotted. Fixed and will be merged into master once the dev-x.2.0 cycle is finished.

[2020-06-14 19:41] #212 closed

[2020-06-16 17:36] Vado101 commented on #181
Sorry for the long answer. I made a minimally viable program, which is located at the link [https://github.com/Vado101/chart-fx/tree/master/chartfx-samples/src/main/java/de/gsi/my/test/oscilloscope](url)

I conducted many tests and noticed that this error occurs when the RAM or processor is heavily loaded.

[2020-06-18 07:34] RalphSteinhagen commented on #181
@Vado101 we needed to modify your MVP example to compile and were unfortunately not able to reproduce your observations with the information provided.

It was actually hard to 'heavily load' the CPU/GC with the provided example and additional other samples were necessary to run in the background.
![image](https://user-images.githubusercontent.com/46007894/84987896-52e5bd80-b141-11ea-832b-3085a78f8

[2020-06-24 17:53] RalphSteinhagen commented on #194
merged with dev branch

[2020-06-24 17:53] #194 closed

[2020-06-26 15:30] #195 closed

[2020-06-26 15:40] RalphSteinhagen commented on #64
@petrov9 any update on a possible PR or would you like to keep the mod private?

We are working on the next minor release right now and now would be a good opportunity to merge this.

[2020-06-29 12:42] RalphSteinhagen opened #221 "Clarification/license change from Apache 2.0 to LGPLv3"
### Wider Chart-FX goals
We are happy that Chart-fx is being used as a charting library in other laboratories, academia, industries, and JavaFX enthusiasts. Built upon JavaFX it has been primarily a publically-funded development by [GSI](https://www.gsi.de/) for [FAIR](https://fair-center.org/), an accelerator-based research facility presently constructed nearby Darmstadt, Germany. We initially de

[2020-07-15 13:44] deepthought-64 opened #228 "[Question] Styling guide for dark theme"
Sorry, i don't know where to turn with my question so I'll post it here.

Firstly, i really enjoy working with chart-fx. It is by far the best charting lib for my use case that I have ever come across! Thanks for your effort!

I am currently writing an application which has a dark theme and I was not yet able to completely figure out how to style chart-fx so that it renders nicely on a dark backgr

[2020-07-15 14:06] RalphSteinhagen commented on #228
@deepthought-64 thanks for the kind words. We have been looking into the dark theme ourselves to and in preparation reworked the way how chart-fx handles CSS. For details see PR #215.

The styling is similar but the field names are not always exactly the same as for the stock Oracle  Chart implementation. For initial guidance, you may have a look at the new [AbstractAxisParameter.java](https://git

[2020-07-15 14:29] wirew0rm commented on #228
I would like to add, that the tick-mark-fill is a property of the axis, not the axis label, except from that everything was right. This is the correct css snippet for the current release version:

[code]

[2020-07-15 15:56] deepthought-64 commented on #228
@RalphSteinhagen thanks very much for the quick reply. definitly looking forward your implementation of a dark theme. :)

Unfortunately I was still not able to set the `tickLabelFill`.
I tried setting it via css (exactly like @wirew0rm said) in a .css file that i attached to the chart node via (`chart.getStylesheets().add(...)`.

I also tried setting it on the axis either via the property `tickLab

[2020-07-15 16:06] deepthought-64 commented on #228
Could it be that the tickLabelFill is just not used? I was looking through the `GridRenderer` and only saw the `tickLabelFill` property used in the `drawPolar...()` methods. Or is the Grid for the XYChart rendered somewhere else?

[2020-07-15 17:14] wirew0rm commented on #228
May I ask which version you are using? When I paste the above snippet into chart.css i get blue tick labels.

The `GridRenderer` is rendering the grid (the dashed horizontal and vertical lines), the axes with its ticks, labels and tickLabels are rendered by the `Axis` implementation added to the chart, by default this is `DefaultNumericAxis`, but most of the styling and rendering parts happen in `

[2020-07-16 08:18] deepthought-64 commented on #228
Guten Morgen, @wirew0rm.

I am using the current version, `11.1.3`.

I have had no luck so far. I set the CSS on the chart right at the moment when i create it. But i also set the `-fx-tick-label-fill` directly in the code on the Axis object. Both have no effect.
Also using Zoom to force re-creation of new tick marks has not helped.

I see that the tickMarkLabel is drawn in `drawTickMarkLabel()` i

[2020-07-16 08:37] wirew0rm commented on #228
Ok, this makes this easy, just update to 11.1.5, the getNewTickMark() method was missing the setFill on the TickMark, as you observed correctly. The corresponding issue #157 was fixed in 82ebf46a which is contained in the 11.1.5 release.

[2020-07-16 09:26] deepthought-64 commented on #228
Damn, that is then easy indeed. Thanks!!!
I did not see that there is a 11.1.5 out, i just used the version from the readme :)

Thanks for you help! If I can do anything in return, just tell me!

[2020-07-16 09:29] #228 closed

[2020-07-16 10:43] wirew0rm commented on #228
No worries, glad it's working for you.
If you want to share your work on the dark theme, you could do a pull request for adding a `chart-dark.css` beside our default `chart.css` once you are satisfied with it. The topic pops up from time to time and it would be a good addition to chartfx.

[2020-07-20 07:36] deepthought-64 commented on #228
I am using [JMetro](https://pixelduke.com/java-javafx-theme-jmetro/#JMetro_a_Java_JavaFX_theme)'s dark theme, so the rest of the 'darkness' is not mine. I just added a css for the chart to look nice.
But of course I will share my css when I am happy with my result. :)

[2020-07-20 15:34] deepthought-64 commented on #228
sorry guys that i bother you again.
I am now trying the same with the legend label text fill and again having no luck.

I saw in `DefaultLegend` that you use `LegendItem` which has the class `chart-legend-item` set on it.
But i was not able to set the color on the lable using
[code]

[2020-07-20 15:47] deepthought-64 commented on #228
Of course, an additional 5 minutes of thinking would have sufficed... got it.

[code]
did it! :)

[2020-08-12 10:48] deepthought-64 opened #231 "CrosshairIndicator Label not updated on mouse-move using JMetro"
After some time i got back to working on my UI Project. :)

I added the `de.gsi.chart.plugins.CrosshairIndicator` plugin to a chart. The lines (`crosshairPath`) works as expected.
But the label (`coordinatesLabel`) is not updated on mouse-move but only when i zoom in/out of the chart.

Best see a short video as demonstration:
![chart-label-issue2](https://user-images.githubusercontent.com/5528887/

[2020-08-13 12:00] Vado101 commented on #181
@RalphSteinhagen thank you so mach for your help! I followed your advice and it solved my problem. I didn’t answer for a long time because I wanted to make sure that the problem really went away.

This helped the most:

`dataSet.set(xValues, yValues);`
to
`dataSet.set(xValues, yValues, count, false);`

[2020-08-13 12:00] #181 closed

[2020-08-13 14:13] RalphSteinhagen commented on #181
@Vado101 am glad that this helped to resolve your problem.

Is this a private or public application of yours that used Chart-Fx? We are collecting examples and plan to set up a more documentation-oriented/tutorial-type site on how to use this little lib, common practices, and also showcases what can be done with it. We'd be happy to include your example app if you agree.

Looking forward!

[2020-08-14 07:22] Vado101 commented on #181
@RalphSteinhagen it is a proprietary project that uses this library to display the spectrogram and oscilloscope of the received signals. When I have time, I will only get from my project the part that uses the library. It will look like a signal analyzer. I will gladly give you this part of the project) But it won't happen soon)

[2020-08-14 09:08] RalphSteinhagen commented on #181
@Vado101 you do not need to share the code if this is inconvenient for you. A simple screenshot or simple demo video would also be fine. :+1:

[2020-08-17 07:39] RalphSteinhagen commented on #231
@deepthought-64 sorry for the delayed reply. Unfortunately, I seem to be unable to reproduce this. Do you see this in any of the sample applications?

Could you, for example, add the `CrosshairIndicator` plugin to the `SimpleChartSample` and retry with master? Did you modify the listener? Just in case, could you also check against 'master' and/or the 'dev-x.2.0' branch? The latter will be merged s

[2020-08-20 07:47] tanrikut opened #232 "Axis not updating after custom color change of Y-Axis Line"
Hi,

I tried to change the line colors of both X and Y axes using the following code:

[code]

Everything changes but Y-axis line does not change. Please, help:)

[2020-08-20 09:50] osaidmakhalfeh opened #233 "Question: Howto change the colour for each point ScatterAndBubbleRenderer"
Hi Everyone,
Thanks for this amazing effort.

I'm trying to simulate this chart using the example of ScatterAndBubbleRenderer.

![image](https://user-images.githubusercontent.com/44381968/90755114-795fda80-e2e3-11ea-8b6f-6c2a61a7dd76.png)

I want to give a color for each point on the chart, not for the whole data set.
My input is about 100,000 coordinates of three parameters (color, x,y).

Any ide

[2020-08-22 09:22] tanrikut opened #236 "Custom axis label font overriden by CSS"
Changing axis label font with `axis.getAxisLabel().setFont(font)` doesnt work. It is overriden by CSS.

Workaround for this  is to set style as following:

[code]

[2020-08-22 09:32] tanrikut opened #237 "Changing horizontal minor grid line visibility doesnt refresh chart"
Calling `xyChart.getGridRenderer().getHorizontalMinorGrid().setVisible(visibility);` doesnt update the chart visual whereas changing major axis visibility updates the chart `xyChart.getGridRenderer().getHorizontalMajorGrid().setVisible(visibility);`

[2020-08-24 11:53] wirew0rm commented on #232
The axis line was moved just outside of the canvas for the TOP and LEFT axis position, that's why it was only visible for bigger stroke widths.

[2020-08-24 12:02] #232 closed

[2020-08-24 13:12] deepthought-64 commented on #231
I havet to apologzie too for my late reply... Was on holidays and then had some hectic days. Will check your sugestions out today. Maybe it has something to do with the JRE version i am using or the fact that i am using Linux.

[2020-08-24 14:40] RalphSteinhagen commented on #231
@deepthought-64 no worries... if it's a genuine bug it'll be fixed. Am using Linux also but simply couldn't reproduce it with the examples we had using this plugin. An MVP example would be appreciated. :+1:

[2020-08-24 16:06] deepthought-64 opened #238 "CrosshairIndicator plugin mouse handler reacts to mouse-over outside of the chart"
I use the `CrosshairIndicator` which registers and input event handler of type `MouseEvent.MOUSE_MOVED`.
The chart does not occupy the whole scene in my case and there can even be multiple charts in the scene.

What i can observe is that when i move the mouse inside the chart the eventHandler is invoked correctly (as ist should) but when i move the mouse in the upper left hand corner of the scene,

[2020-08-24 16:08] deepthought-64 commented on #231
Okay, will try to put something together.
Btw, just found something else (#238) but I don't think that is related

[2020-08-24 17:02] deepthought-64 commented on #231
I have added a MVP to https://bitbucket.org/fabian_kasper/gsi-cs-co-chart-fx-231-mvp/src/master/
I could isolate the problem. It looks like as soon as i enable [JMetro](https://www.pixelduke.com/java-javafx-theme-jmetro/) the bug appears... But i don't really know why that is happening

by the way, i hope that it is not too much of an inconveniance that the project is koltin. I use tornadofx (kotl

[2020-08-25 07:46] RalphSteinhagen commented on #231
@deepthought-64 thanks a lot for the MVP which helped a lot! :+1:

Will need to look into a bit more detail about why JMetro suppresses the event listener.

We seem to have identified the source for issue #238.

[2020-08-25 07:55] RalphSteinhagen commented on #238
@deepthought-64 thanks again for the MVP and reporting this. :+1:

This issue didn't seem to pop up with the other plugins which have additional checks that prevent this.

The culprit seems to be in the [ChartPlugin](https://github.com/GSI-CS-CO/chart-fx/blob/4b93d58fc1f30434f6d8982376e1506203eeb99c/chartfx-chart/src/main/java/de/gsi/chart/plugins/ChartPlugin.java#L90-L101) which -- in addition to

[2020-08-25 11:00] deepthought-64 commented on #231
The way I see it, is not that the event listener is surpressed (because then the crosshair would also not move) but the label is not rendered anymore. I see that it has it's managed property set to false, so maybe that has something to do with it?

[2020-08-25 12:55] Kusefiru opened #239 "Refresh data reduction on zoom"
Hi,

Firstly, thank you for your work on Chart-Fx.

We are currently building an application using the library to display multiple huge datasets.
The library works well for 5 to 10 million points, however our clients would like to display even larger datas, going up to 50 to 100 million points. While it is possible to display such datasets, navigating them become difficult as the application slows

[2020-08-25 14:52] wirew0rm commented on #239
Hey,

thank you for your interest in chart-fx.

Actually the reduction step is performed for every render() call, so there is no caching going on and its only purpose is not to overwhelm the rendering pipeline and also to correctly visualize errors for dense datasets.

In your application it seems, that it is infeasable to process the whole dataset for each render call, so you would need some cach

[2020-08-26 07:57] Kusefiru commented on #239
Thank you for your reply !

I understand your idea, and it seems doable.
I'll look into it and submit a pull request if I come up with something good.

[2020-08-27 14:52] wirew0rm commented on #193
Just as a quick follow up: I integrated the code generation into the gridDataSet branch i'm currently working on.

Changes I made compared to the concept branch:
- made it a proper maven plugin (removes the need for the exec and add-sources plugins)
- also copied the double implementation instead of using inheritance (as allready proposed in the comments)
- Added a way to specify in the `//// code

[2020-08-31 12:54] RalphSteinhagen commented on #238
@deepthought-64 thanks again for reporting, should be fixed now, and added the corresponding unit-test (see PR for details). Let us know if you can confirm the fix, we'll merge this to master and release this during the next opportunity.

[2020-08-31 12:56] RalphSteinhagen commented on #231
@deepthought-64 thanks again for reporting, should be fixed now through a workaround replacing `Label` (which is derived from `Control` with `Text`(deriving more directly from `Node`, see PR for details). It seems that the label text content wasn't updated part of the scene graph once the JMetro is enabled. The root cause seems to be rather in the JavaFX framework and/or JMetro. In any case, the w

[2020-08-31 13:17] RalphSteinhagen commented on #64
@petrov9 would you be willing to do a PR for this? I saw that you already worked on this in your private fork but didn't want to do a pull of your work without your consent... let us know. We'd be happy to incorporate this and complete the testing/examples etc....

[2020-08-31 15:46] deepthought-64 commented on #238
Hi @RalphSteinhagen

thank you very much for taking the time to fix that. I have tested it against `fix-issues-231-238-SNAPSHOT` and it works as expected!

One thing i am curious about: Why did you change `registerInputEventHandler(MouseEvent.MOUSE_MOVED, mouseMoveHandler);` to `registerInputEventHandler(MouseEvent.ANY, mouseMoveHandler);`? is it to capture a `MOUSE_EXITED_TARGET`-Event?

Thanks a

[2020-08-31 15:46] #238 closed

[2020-08-31 15:56] RalphSteinhagen commented on #238
Basically, yes. Will merge this then.

Enjoy and please consider sending us a screenshot of your application for our real-world use-case example.

[2020-08-31 15:56] deepthought-64 commented on #231
Hi @RalphSteinhagen

thank you very much for taking the time to fix that. I have tested it against `fix-issues-231-238-SNAPSHOT` and it also works for this issue. :)

Would be interested to know what the problem is. Maybe @dukke can help here or shed some light on it? :)

[2020-08-31 15:56] #231 closed

[2020-08-31 16:00] deepthought-64 commented on #238
Ah okay, makes sense. :)

Will send it once it is finished (will still take a bit I assume). :)

[2020-09-01 11:02] osaidmakhalfeh commented on #233
I used ScatterAndBubbleRendererSample example and that worked with me.
Thanks a lot.

[2020-09-01 11:02] #233 closed

[2020-09-01 11:05] RalphSteinhagen commented on #233
Glad to hear that this helped! Enjoy!

[2020-09-01 20:10] SamuelLKane opened #246 "Histogram bin width does not match actual bin range"
Hi all! I'm trying to use ChartFX's Histogram to plot pre-binned data and noticed a discrepancy that is echoed in the sample code (HistogramSample.java).

### What are the issues:

1. The edges of the bin do not reflect the actual range of the bin
2. The data point is not always the center of the bin, instead it can be another point within the bin

### Examples

![image](https://user-images.github

[2020-09-02 06:55] RalphSteinhagen commented on #246
@SamuelLKane do you use by chance non-equidistant bins (see also discussions in issue #80)?

[2020-09-02 19:49] SamuelLKane commented on #246
@RalphSteinhagen Thanks for the reference. I've poured over issue 80 and confirmed we're using equidistant bins (all are 10.8 in size). We are using the new Histogram(title, numBins, min, max, horizontal) constructor that should create equidistant bins regardless and I confirmed it was via .isEquiDistant(). I swapped to the new Histogram(title, double[]) and was able to get a correctly binned and

[2020-09-03 16:08] #193 closed

[2020-09-04 11:34] wirew0rm commented on #236
Thanks for the report and sorry for coming back to this so late.

I can reproduce the issue, another way to fix it is to remove the `-axis-label` section from `chart.css`.

From the [CSS-Reference guide](https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#introstylesheets):

This aligns with your observations. Unfortunately `chart.getStylesheets().clear()` does not help,

[2020-09-04 14:44] wirew0rm commented on #246
This is probably a classic of by 1 error, the convention for the Histogram class is that bin 0 and bin nBins+1 contain the under-/overflow data, so the actual data bins start at index 1.

This was only documented in `Histogram#getBinContent(int)`I've added a note to the interface itself.
I hope this solves your issue, I've tried with a very simple Histogram and all bins where rendered correctly.

[2020-09-04 16:34] wirew0rm commented on #204
- currently the data value is stored in the indicator
  - should we store a value for each matching axis?
  - what happens if the range of a single axis changes / new axes get added?
  - irrelevant because of the next point
- acutally the ValueIndicator knows its axis, it is passed to it in the constructor and exposed via getAxis()
   - we can filter axes to find the axis relevant for the dataSet

[2020-09-09 11:25] wirew0rm commented on #237
solved on the development branch, will be merged and released soon, thanks for reporting :+1:

[2020-09-09 13:05] wirew0rm commented on #236
We removed the font from the default css, this should solve this specific problem, but of course there might be other instances of this. The fix will be merged into master and released soon.

[2020-09-10 07:33] #237 closed

[2020-09-10 07:37] tanrikut commented on #237
Thanks

[2020-09-10 12:43] #221 closed

[2020-09-10 12:43] #44 closed

[2020-09-10 12:47] RalphSteinhagen commented on #236
@tanrikut the commit is now in master. Quick question: does the commit solve your issue?

Thanks again for posting this issue! :+1:

[2020-09-10 12:59] RalphSteinhagen commented on #246
@SamuelLKane we updated the Histogram description and @wirew0rm kindly added the [HistogramBasicSample](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/chart/samples/HistogramBasicSample.java) to clarify and illustrate the functionality:

https://github.com/GSI-CS-CO/chart-fx/blob/1f94103f57e1a7e4cdfb97816ea34bac9e8cc206/chartfx-dataset/src/main/java/de/gsi/d

[2020-09-10 20:50] SamuelLKane commented on #246
Thanks for being so helpful! The clarity you provided is super helpful as is the sample. We found a work around but as soon as we do another pull and build of your repo I'll let y'all know if I find any more related bugs.

[2020-09-11 05:08] RalphSteinhagen commented on #246
Great! <attempt of humor> This API convention is coming originally from [ROOT](https://github.com/root-project/root), which in turn got it from [PAW](https://en.wikipedia.org/wiki/Physics_Analysis_Workstation) which in turn got it from a hermit in the swiss alps who claims that this has been passed over eons through word-of-mouth by his ancestors which our little tribe takes for granted now, while

[2020-09-11 05:08] #246 closed

[2020-09-16 17:02] asmirn1 opened #259 "Redrawing chart after updating Datasets doesn't work consistently"
Hi! Thank you for your work on ChartFX.

I'm having an issue with redrawing a chart after updating its datasets. I update datasets as follows:
[code]
where `renderer` is `ErrorDataSetRenderer` added to an `XYChart`.

When I call this function, sometimes I get a correct plot and sometimes I get a blank background. Here are a few examples:

<img width="2178" alt="Screen Shot 2020-09-16 at 12 45 03 P

[2020-09-16 22:01] milo-gsi commented on #259
Hi Aleksandr,

until the real experts show up,
you might want to test if invalidating the registered Dataset does the job.

https://github.com/GSI-CS-CO/chart-fx/blob/9e996d8cb1cf791eb22508520b7297393129cfce/chartfx-samples/src/main/java/de/gsi/chart/samples/TimeAxisSample.java#L43

[2020-09-17 05:05] RalphSteinhagen commented on #259
First, thanks for your interest in chart-fx @asmirn1!

In addition to what @milo-gsi already mentioned, you may also want to replace the `.clear(...)` and then `.add(...)` with a `setAll(...)` which does both and also avoids the double-notification, or modify the already attached data set in-place.

The latter is -- especially for large data sets or fast updates -- more memory efficient and faster

[2020-09-17 05:11] RalphSteinhagen commented on #259
@milo-gsi you are a bit too modest... ;-)

You write very nice data acquisition applications used in production with ten thousands of data points that are updating at 25 Hz... maybe we should show-case a bit more what you and others are doing with this little lib.

[2020-09-17 13:22] asmirn1 commented on #259
@milo-gsi @RalphSteinhagen

Thank you for your quick replies!

I've tried your suggestions and what worked for me is the following
[code]

Calling `dataSet.fireInvalidated(null)` without `chart.layout()` still results in some blank plots (although much less frequent than when I call `chart.layout()` without `dataSet.fireInvalidated(null)`). Calling both `dataSet.fireInvalidated(null)` and `chart.l

[2020-09-17 13:39] RalphSteinhagen commented on #259
@asmirn1 unfortunately not (yet). This is a long-standing effort/request (see e.g. #255) which we'd like to follow-up but couldn't find the time yet because of other (internally/unrelated) reasons.

Any help on that front (ie. good beginners -> advanced users tutorial) would be highly appreciated.

Please feel cordially invited to contribute to that effort! :grin:

[2020-09-17 14:38] RalphSteinhagen commented on #259
@asmirn1  regardless you may want to modify your code to (wrong line ordering, duplicate clear/add, missing event mapped to 'null').

[code]

If you could let me know if this workd for you!? :smile:

[2020-09-17 15:19] asmirn1 commented on #259
@RalphSteinhagen
The code that I wrote above is not the actual code that I'm using. In the actual code, I create several datasets. That's why I was using `clear()` and `add()` methods.

The actual code looks more like this:
[code]

As you see, I've tried to modify the code to use `renderer.getDatasets().setAll(dataSets)`, but it didn't resolve the issue. To resolve the issue, I still need to call

[2020-09-17 18:53] RalphSteinhagen commented on #259
@asmirn1 would you perhaps have a MVP example that for this? Can you reproduce this with one of the samples in the master branch and/or 11.5.0 tagged version? Your Java version? OS? Any additional info would be helpful to track this down.

[2020-09-18 21:19] asmirn1 commented on #259
@RalphSteinhagen
I've created a small example to reproduce the issue: https://github.com/asmirn1/chartfx-plot-issue
My Machine: MacBook, MacOS Catalina, Version 10.15.6.
Java 13, javafx-sdk-14.0.2.1, ChartFX 11.1.5.

Here is a short video of the issue:
[Screen Recording chartfx-plot-issue.mov.zip](https://github.com/GSI-CS-CO/chart-fx/files/5248248/Screen.Recording.chartfx-plot-issue.mov.zip)

I h

[2020-09-19 05:26] RalphSteinhagen commented on #259
@asmirn1 thanks.:+1: I'm having a look at it.

[2020-09-19 16:30] RalphSteinhagen commented on #259
@asmirn1 this was a proper bug related to caching of the scale parameter in `AbstractAxis` for animated Axis. This is fixed now in the [fixIssue259](https://github.com/GSI-CS-CO/chart-fx/tree/fixIssue259) branch.

Your usage didn't have anything directly to do with the bug. However, your MVP and the way you tested -- walking through the list using keyboard events --  nicely emphasized and helped t

[2020-09-21 12:37] asmirn1 commented on #259
@RalphSteinhagen I'm glad that it was helpful. Thank you for your quick responses and fixes.

To test the new code, should I compile the master branch or the version 11.2.0 already contains this bug fix?

[2020-09-21 13:45] RalphSteinhagen commented on #259
@asmirn1 for the time being you'd need to test against the 'fixIssue259' branch.

[2020-09-21 13:53] wirew0rm commented on #259
If you do not want to compile yourself, you can also use the snapshot repository as described [here](https://github.com/GSI-CS-CO/chart-fx#using-the-snapshot-repository). Just enable the snapshot repository and use `fixIssue259-SNAPSHOT`for the version.

[2020-09-21 17:00] #259 closed

[2020-09-21 19:04] asmirn1 commented on #259
Hi all,

I just want to confirm that with the version fixIssue259, everything works as expected.

Thank you!

[2020-09-21 20:27] #236 closed

[2020-09-22 17:02] osaidmakhalfeh opened #261 "What is the professional way to invert xAxis values from max to min?"
Hi Dears,
First of all I want to thank you again for this amazing work!

Here, I'm trying to draw the xAxis from the "Max" to the "Min" values.
I'm not sure, how can I do it easily?

![inxax](https://user-images.githubusercontent.com/44381968/93913699-1ca27600-fd0e-11ea-9741-5c2946b7eb46.png)

Thanks a lot

[2020-09-22 17:41] milo-gsi commented on #261
Hi osaidmakhalfeh,

this a property of the axis.

See invertAxis(boolean)

[2020-09-22 18:40] osaidmakhalfeh commented on #261
Thanks a lot for your response.
I've done that before, but unfortunately, the numbers have disappeared from xAxis, here an eg.
![image](https://user-images.githubusercontent.com/44381968/93923360-f71c6900-fd1b-11ea-8fc8-477e51acd8cf.png)

[2020-09-22 18:43] milo-gsi commented on #261
Hi osaidmakhalfeh,

we just found that issue as I wanted to point you to one of the samples.
I'm sure it'll be fixed soon or @RalphSteinhagen / @wirew0rm will provide a workaround.

[2020-09-22 18:58] RalphSteinhagen commented on #261
@osaidmakhalfeh can you give it a try with the fixed version in the 'fix261' branch?

If you do not want to compile yourself, you can also use the snapshot repository as described [here](https://github.com/GSI-CS-CO/chart-fx#using-the-snapshot-repository). Just enable the snapshot repository and use `fix261-SNAPSHOT`for the version.

[2020-09-22 19:12] RalphSteinhagen commented on #261
... a fix a day keeps harm a way.

@osaidmakhalfeh thanks for asking a question and triggering us to fix that issue. This must-have slipped in during one of the last commits and we did not catch this earlier.

Let us know if this fixes and helps with your particular application

[2020-09-22 19:33] RalphSteinhagen commented on #261
... now merged to master. Thanks to @milo-gsi for cross-checking.

[2020-09-23 11:27] osaidmakhalfeh commented on #261
A lot of thanks, Guys.
Now it works!

But there are a new icons that appeared after the fix.
![image](https://user-images.githubusercontent.com/44381968/94005786-75721d00-fda7-11ea-9396-fe1ec981801f.png)

 I'm not sure what is that, will try to solve it!
Thanks again.

[2020-09-23 11:35] RalphSteinhagen commented on #261
@osaidmakhalfeh this is unrelated and the normal expected behavior. The brackets '[]' contain the units ("" as a default in this case).

In case you want to suppress this, you may want to set `axis.setUnit(null);`.

[2020-09-23 12:31] osaidmakhalfeh commented on #261
That works! I mean it is related to the unit value on the axis.
Thanks again @RalphSteinhagen

My last question to you -> I tried to draw a bar from that points on the charts, but here I'm facing a new problem:

![image](https://user-images.githubusercontent.com/44381968/94012495-917abc00-fdb1-11ea-946c-6d7865c6ce08.png)
 if you can see the dots on the top of the bar? any idea in how to remove it!

[2020-09-23 13:01] RalphSteinhagen commented on #261
@osaidmakhalfeh these are the markers... can be controlled via `ErrorDataSetRenderer::setDrawMarker(boolean)` and other access methods (e.g. style, size, etc.)

[2020-09-23 13:13] osaidmakhalfeh commented on #261
I tried what you said. But unfortunately, I'm getting the same result! maybe it is something else? !
These are the steps I did:
![image](https://user-images.githubusercontent.com/44381968/94017072-a3f7f400-fdb7-11ea-810f-e6a5ac50ba7a.png)

[2020-09-23 13:20] RalphSteinhagen commented on #261
@osaidmakhalfeh is your project publically available or would you perhaps have an MVP sample?

[2020-09-23 14:10] osaidmakhalfeh commented on #261
To be honest with you, I'm on research about charts
Here I added my sample to a git repo that contains the barChart if you want to see it!

Thanks a lot @RalphSteinhagen

https://github.com/osaidmakhalfeh/testChartsProject/tree/master/pcCharts/src/main/java

[2020-09-23 14:43] asmirn1 opened #264 "Select dataset color"
It's probably not a bug. I just want to ask a question:

By default, the first dataset is drawn blue, the second is red, the third is green, etc. I would like to draw some of the datasets completely black/gray. I was able to change the color of markers with `dataset.setDataStyle()`, but I don't understand how to change the color of lines.

I've tried `dataset.setStyle("-fx-stroke: black")`, `datas

[2020-09-23 16:27] wirew0rm commented on #264
Hey there, `dataset.setStyle("strokeColor=black")` should be the way to go. For a sample using this you can look for example at the [DataSetFilterSample](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-samples/src/main/java/de/gsi/math/samples/DataSetFilterSample.java#L41) and try to find out where your setup differs. (The gaussian function in the sample is a `DefaultErrorDataSet` which

[2020-09-23 17:05] RalphSteinhagen commented on #261
@osaidmakhalfeh thanks for the link: :+1:

You are using `DefaultErrorData`s and do not set the corresponding point errors (which default then to '0'). What you see are the squashed error bars (aka. as whiskers) around the point values and that are drawn by default by the `ErrorDataSetRenderer`. You can suppress these via:

[code]

Also, you seem to use different DataSets to achieve different colo

[2020-09-23 17:08] asmirn1 commented on #264
I've just tried `dataset.setStyle("strokeColor=black")` and it worked. Thank you!

An interesting thing is that, previously, I called both `dataset.setStyle("strokeColor=black")`  and `dataSet.addDataStyle(index, "strokeColor=black;")` and it would give me an error.

Here is the code that works for me:
[code]

However, if I add `dataSet.addDataStyle()`, then an error is thrown:
[code]

Here is the

[2020-09-23 17:25] wirew0rm commented on #264
This error is independent of styling, we are using `slf4j-api` in version `2.0.0-alpha0` with its new "fluent logging" api which is contrary to the statements in their manual not fully interoperable with older versions. Especially in combination with log4j this can lead to problems ([see here](https://logging.apache.org/log4j/2.x/log4j-slf4j-impl/)). Short version: you need to update slf4j and log

[2020-09-23 17:49] asmirn1 commented on #264
Thank you for the explanation. I see that slf4j-api v2 is still in alpha, so I'd rather stay on version 1.7.30 for now. I'll just try to avoid any logging in ChartFX.

[2020-09-23 19:28] #264 closed

[2020-09-24 13:16] osaidmakhalfeh commented on #261
@RalphSteinhagen @milo-gsi

Sure, it works.

I do not know what to say,
A lot of thanks to you guys wish you all the best forever.

[2020-09-24 13:16] #261 closed

[2020-09-24 13:16] osaidmakhalfeh commented on #261
@RalphSteinhagen @milo-gsi

Sure, it works.

I do not know what to say,
A lot of thanks to you guys wish you all the best forever.

[2020-09-24 13:56] osaidmakhalfeh opened #265 "BarChart: non equidistand data and last data point not drawn"
Hi Dears,

I'm facing a problem while drawing a barChart with small values for the yAxis.

here is a snapshot for the values I'm trying to draw:

![asas](https://user-images.githubusercontent.com/44381968/94153323-4fbb4580-fe85-11ea-98de-d6d6b5a3b65b.png)

Unfortunately, the result looks like that there is one bar rendered, but it took the full width of the screen, here is a snapshot of it.

![flo

[2020-09-24 15:08] RalphSteinhagen commented on #261
@osaidmakhalfeh hope this is not the last we are going to read from you. Hope the above has been useful and enjoyable!

Feel free to contact us if you have questions, bugs or just want to contribute to chart-fx (features, tutorials, examples, docs ...)

[2020-09-24 18:09] osaidmakhalfeh commented on #265
@RalphSteinhagen Sorry for bothering you my friend, but please I have a question, I am using the same solution as the previous problem. I had a problem when using small numbers. the bars not rendered as expected. Can you help me?
Thank you

[2020-09-24 18:43] osaidmakhalfeh commented on #261
@RalphSteinhagen  sure, I think I can prepare now a good docs & tutorials for others, and I will send something to you very soon.
Thanks

[2020-09-24 18:47] RalphSteinhagen commented on #265
@osaidmakhalfeh you seem to have non-equidistant data in your bar-chart (notably the point around x=20 which is about 15 units away from its neighbour).

The relative-width-based bar renderer cannot easily handle this (width ~ 1/2 distance to neighbouring point). You may want to use either a fixed spacing between x-values or a custom bar width:

[code]

yielding something like:
![image](https://us

[2020-09-25 11:27] osaidmakhalfeh commented on #265
@RalphSteinhagen Thank you for your response again my amazing friend.

x -> [12.6, 12.5, 12.4, 12.3, 12.2]
y -> [1.001650853992342, 1.0000024010700712, 0.9977828294515343, 0.9974950907069192]

I tried to draw the above data on the same example project. Unfortunately, there is one problem while drawing the minimum and the maximum points. I do not know why are these two points, not rendered.
to solv

[2020-09-26 09:31] osaidmakhalfeh opened #266 "Gaps in axis range"
Hello Dears,

I'm very happy while using and contributing to this library, thank you all.

I'm working on an application that reads data from a hardware sensor and re-fill the data as bar charts every two seconds. I have two problems and want to discuss it with you:

1) sometimes some bars not rendered!, I'm not sure why?, to be sure with that point I entered the same data array by code "static co

[2020-09-27 10:31] AmjadMoqade98 opened #267 "horizontal white gaps in ScatterAndBubbleRenderer chart"
Hi, Dears,

First of all, plz allow me to say thank you for this library and to your effort at all.

I'm trying to draw a heat map chart same to the one on this image:
![hm](https://user-images.githubusercontent.com/48645435/94361733-49181280-00bf-11eb-87b9-862554cec1ce.PNG)

we have done this on the web before using canvas.

so I used the  ScatterAndBubbleRenderer chart here.

What I actually did

[2020-09-27 12:56] RoWeigert opened #268 "How to change the Tooltip"
First of all,
chartfx is really fast compared to the original Oracle-Version.
But i simply can not find a way to change what is written in the Tooltips.
I tried to extend StringConverter<Number> and set it as Formatter, but nothing seems to change.

I want to have the posibilty to insert complete custom texts, so I can blend in error-messages in the measured values.

Regards,

Roland

[2020-09-27 13:38] RoWeigert commented on #268
![wedge](https://user-images.githubusercontent.com/71972217/94366273-65c04480-00d7-11eb-9edd-e8c4dd918e6a.png)

[2020-09-27 17:52] RalphSteinhagen commented on #265
@osaidmakhalfeh the default ErrorDataSetRenderer setting performs a data reduction in case data points overlap i.e. if they are drawn on or nearly on the same pixel (the minimum distance is configurable).

If you have only a few data points (ie. < 1k) and do not want this point reduction feature, you may disable this by `ErrorDataSetRenderer::setPointReduction(boolean)`. This might be useful in yo

[2020-09-27 18:42] RalphSteinhagen commented on #268
@RoWeigert thanks for your interest in Chart-fx

The tool-tip text content is controlled by the return value of `DataSet::getDataLabel(int)` interface which for most `DataSet`s is modifiable via `DataSet::addDataLabel(int, String)` (and often also via a direct map-based access). N.B. you can define similarly a data point specific style via `DataSet::addDataStyle(int, String)` which can be used to

[2020-09-27 18:48] RalphSteinhagen commented on #267
@AmjadMoqade98  have you tried the `ContourDataSetRenderer`? For large equidistant grid-type DataSet this usually yields better/faster results. There are parameters to control (or suppress) the interpolation when zooming in between defined data points. Other than that... w/o MVP it's a bit hard to assess what is happening.

[2020-09-28 01:08] AmjadMoqade98 commented on #267
@RalphSteinhagen
Thank you so much.  i tried to use ContourDataSetRenderer and it worked like a charm.

this is the result I've got

![image](https://user-images.githubusercontent.com/48645435/94380555-aef7af00-013e-11eb-8ee8-3f6db7099235.png)

now I'm trying to convert the y axis to a logarithmic axis using these properites

        yAxis.setLogAxis(true);
        yAxis.setLogarithmBase(10);

but

[2020-09-28 05:21] RalphSteinhagen commented on #267
@AmjadMoqade98  besides having '0' in the range (`log(0)` is not ideal when plotting on a real-valued x/y canvas) the basic ContourDataSetRenderer's low-level rendering relies on equidistant-data, thus uses direct calls to `gc.drawImage(image, xDataPixelMin, yDataPixelMin, xDataPixelRange, yDataPixelRange)`, and thus does not support logarithmic axes.  This for primarily performance reasons (aim:

[2020-09-28 07:42] osaidmakhalfeh commented on #266
@RalphSteinhagen
I'm very thankful to you for your helping.

I saw your reply on this issue:
https://github.com/GSI-CS-CO/chart-fx/issues/265

and sure me and you observe that this is the same issue
![xxx](https://user-images.githubusercontent.com/44381968/94403906-cb174280-0176-11eb-91ab-95e668a4e7b3.png)

[2020-09-29 05:33] RoWeigert commented on #268
Yes,

this helps.
Now I can format everything in an easy way.
But I have on more question, that I wanted to find a solution for.

Is there a way, to set more than one XRangeIndicator-color, and set a height, that is not full chart.
This would even be a better solution to blend in errors. But since I plan to use those indicators also for  sample exists, i need them in more colors. I had a view with

[2020-09-29 16:17] wirew0rm commented on #268
This is not possible at the moment the way the indicators are currently implemented.

You could however extend (or provide an alternative implementation for) the ValueIndicator classes, where you could change the layoutChildren routine to use other values instead of min/max in the [layoutLine call](https://github.com/GSI-CS-CO/chart-fx/blob/a73479c281ea3378dfb24f3c0dea0978bf2f08c6/chartfx-chart/sr

[2020-09-29 17:11] wirew0rm commented on #266
hey @osaidmakhalfeh,

for future issue reports, please try not to mix multiple topics into one issue, as it makes it a lot harder to follow and manage the disucussion.
I will only answer the second question on this issue, as you already said that the other one is closely related to #265, and should be further discussed there. I also changed the title of the issue to reflect this.

The feature you

[2020-09-30 05:17] RoWeigert commented on #268
Awesome,
your response time is really really fast.
I already extended the rangeindicator, and did an extra css-class for it, and calculate smaller sizes.
Seems to be the easiest solution.

There should not be too much of those errors in the chart.
It is only important to see the charts "reaction" on events, that is why i implemented it.
Looks like I can completely switch over to your charting-libr

[2020-09-30 07:29] wirew0rm commented on #268
Glad it worked out for you. We generally try not to limit the use of our library, but we're a relatively small team, so here and there you might have to implement or modify some feature yourself ;-)

I'll close this issue as it seems you found a way to get the behavior you want, but feel free to reopen if anything pops up or open other issues if you encounter anything else.

[2020-09-30 07:29] #268 closed

[2020-09-30 17:39] wirew0rm commented on #265
I was able to reproduce the issue with the ErrorDataSetRendererStyling sample, the inverted x-Axis seems to prevent the first and last point from being drawn.
I also noticed, that the bars vanish when panning before they would actually leave the viewport, so I guess somehow the computation of the first and last point to display gets confused when the axis is inverted.
I tried to set `renderer.setA

[2020-09-30 18:06] #265 closed

[2020-10-12 11:15] LaithBudairi opened #275 "BarChart: Some bars are not displayed in v11.2.1"
I have the following code of the bar charts I am drawing:

[code]

When I run this code this is how my charts are drawn:

![case 0](https://user-images.githubusercontent.com/69572447/95739316-532b3b00-0c93-11eb-9f69-0b4a182389ef.png)

Note that not all the bars are displayed. Also note that the tick label -4.00 in the left chart is not fully displayed which explains why the last bar is not display

[2020-10-12 12:16] wirew0rm commented on #275
Hey Laith,

thanks for your interest in our library and for the detailed bug report.

I guess there are multiple issues here:
- The axes being cut of on the right: this looks like some layouting bug, can you try to use another javafx container and maybe only show one of the plots for testing? Most of the samples use StackPane or BorderPane as the root pane. Then we can look into why it does not wo

[2020-10-12 12:46] LaithBudairi commented on #275
Hi Alex,

Thanks for your reply, `renderer.setAssumeSortedData(False)` helped me solve the issue.

I tried setting the width for the chart and axes but the -4.00 still not fully displayed.

Thanks for the heads up regarding the DataSetBuilder,

Laith

[2020-10-13 07:53] LaithBudairi opened #276 "ContourChart: memory not released ?"
Hi,

I would like to thank everyone who worked hard on Chart-Fx.

I am using the ContourChart to draw like one million point, here is an image of what I draw:

![psd](https://user-images.githubusercontent.com/69572447/95830896-ff772b00-0d40-11eb-9649-1e1bb8b16cbf.png)

Note that each time I get more points and redraw them after clearing the chart using `getDatasets().clear()`.

When I switch betwe

[2020-10-13 09:01] wirew0rm commented on #276
I'm not completely sure I'm following you here. What do you mean with "switch between views"? Like switching to another tab or do you refer to updating your data?

Secondly what memory metrics are you looking at? Is your program under memory pressure?
The contour data set renderer uses a cache for the data resampled to the current viewpoint. Small increments in the size of the dataset could cause

[2020-10-13 12:57] LaithBudairi commented on #276
by switching views I mean loading new scenes onto the same stage. I used VisualVM and here is how it looks:

![vvm](https://user-images.githubusercontent.com/69572447/95863243-a1603d00-0d6c-11eb-9a70-a06a7b1672bf.png)

Now when I switch between scenes, data is still there is memory.

[2020-10-13 14:29] wirew0rm commented on #276
I see. If you actually have 9 (or more) `ContourChartRenderer`s in your scenes, then this is the expected behavior. Because you still have a reference to the scene (after all you want to switch to it later) nothing in it will be garbage collected. There are some guards which prevent non-visible charts from taking up CPU time and triggering layouting but we do not de-allocate caches for them.
I gue

[2020-10-14 13:53] LaithBudairi commented on #276
Note that I throw away the old scene completely I don't wanna keep anything from it. When you say by removing the renderer from my chart do you mean setting it equal to null ?. Here is a snippet of my code of what I did:

`contourRenderer.getDatasets().clear();
        contourRenderer = null;
        contourRendererEmpty.getDatasets().clear();
        contourRendererEmpty = null;`

but when I swit

[2020-10-15 12:29] #267 closed

[2020-10-18 09:23] LaithBudairi commented on #276
I'll post an example in a few mins

[2020-10-18 09:26] #275 closed

[2020-10-18 10:01] LaithBudairi opened #278 "Contour Chart: Memory not released + example"
I have this following code of a contour chart:

`
public class Testing2 extends Application {
  ContourDataSetRenderer contourRenderer;
  public static void main(String[] args) {
    launch(args);
  }

  @Override
  public void start(Stage primaryStage) {

    final XYChart chartPane2 = getChartPane(primaryStage, ContourType.HEATMAP);
    chartPane2.setCache(false);
    chartPane2.setCacheShape(fa

[2020-10-18 11:55] RalphSteinhagen commented on #278
duplicate of issue #276 please continue the discussion there.

[2020-10-18 11:55] #278 closed

[2020-10-18 11:57] RalphSteinhagen commented on #276
additional info cross-posted at #278 -- reopening this.

@LaithBudairi please do not clone issues but add your MVP to the initial issue. This helps us keeping track of things.

[2020-10-18 12:29] LaithBudairi commented on #276
What I wanna achieve is simply releasing used memory by the datasets when I switch to another scene (removing old scene). The problem is the data is still kept. I tried using these:

`chartPane2.getAllDatasets().clear();
  chartPane2.getAllShownDatasets().clear();
  chartPane2.getDatasets().clear();
  chartPane2.getPlugins().clear();
  chartPane2.getTransforms().clear();
  chartPane2.getRenderers(

[2020-10-18 16:28] ennerf commented on #276
I've just skimmed the thread, but it seems like you're just running into HotSpot not returning (currently) unused memory back to the operating system. This is expected behavior. See one of the links below:

* [Does GC release back memory to OS?](https://stackoverflow.com/questions/30458195/does-gc-release-back-memory-to-os)
* [Will Java JVM release memory back to OS? Is the memory usage of a Java

[2020-10-19 09:46] LaithBudairi commented on #276
Wouldn't it be better if we could clear the internal caching of the datasets? But I can't reach it.

[2020-10-21 01:00] Jhok2g opened #279 "JavaFX process doesn't end"
Hi, I'm experiencing an issue where the main process won't end after clicking the close button, and this only happens when the line
`XYChart chart = new XYChart(xAxis1, yAxis1);`
is called. (if i comment that line the stop() method of the main app is called just fine)
Any idea why this is happening? Here is the method where the chart creation happens. (It's the initialize() method from the scene c

[2020-10-21 01:21] Jhok2g commented on #279
Nevermind, adding
`stage.setOnCloseRequest(evt -> Platform.exit());`
to the start method solved it. Why does this happen? Is the chart somehow consuming the closeRequest event when that line is not added?

[2020-10-21 06:13] RalphSteinhagen commented on #279
@Jhok2g  Nope. That is the expected and documented [JavaFX](https://docs.oracle.com/javase/8/javafx/api/javafx/application/Platform.html) behaviour depending on whether [`Platform.setImplicitExit(boolean)`](https://docs.oracle.com/javase/8/javafx/api/javafx/application/Platform.html#setImplicitExit-boolean-) is set to `true` or `false`.

You typically need this, for example, if you want a controll

[2020-10-22 08:53] RalphSteinhagen commented on #279
@Jhok2g did this answer your question?

[2020-10-27 13:09] magicroomy opened #286 "DataPointTooltip issues"
First of all your ChartsFX is phantastic. In the past I used JFreeChart due to lack of alternatives. ChartFX is a killer.
I try to add tooltips to a multi axis line chart. I do as found in the examples:

.... chart.getPlugins().add(new DatapointTooltip());

1) I noticed that tooltips are only shown for the "primary" dataset/axis specified when creating the chart. I would like to have the tooltips

[2020-10-29 17:42] wirew0rm commented on #286
Hey there and thanks for you interest in chart-fx.

1) This is a known shortcoming of the plugin, there is even a [small note in the source](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/plugins/DataPointTooltip.java#L105).(It also only supports sorted x/y datasets properly.) If you want to give it a try to implement this, feel free to ask your question

[2020-10-30 10:10] RalphSteinhagen commented on #279
closing since this seems to have been solved and because of no further activity. Please feel free to re-open if you feel that this is a bug.

[2020-10-30 10:10] #279 closed

[2020-10-30 19:29] wirew0rm commented on #286
I implemented the things outlined in my last message. Could you test them by using the development version `akrimmTooltipForAllRenderers-SNAPSHOT`? ([instructions](https://github.com/GSI-CS-CO/chart-fx#using-the-snapshot-repository) here, should be available as soon as travis processed the pull request, alternatively you could of course build the branch yourself).

[2020-10-31 16:00] magicroomy commented on #286
Hi,
I checked it out and gave it a first check.

So far it looks good.
Tooltip shown on all curves/Axis + DataPointTooltip accepts formatters.

Excellent Work, thanx a lot. Looking forwar to the next "Major" Release

[2020-11-01 06:35] raven2cz opened #294 "Financial charts"
We are planning to implement new financial platform. There are requirements for realtime processing. Almost all reqs are based on time series. The type of charts are candlesticks, HiLo renderers.
About UI control is necessary to move dynamically and fast in windowed time range, to see detailed structure of prices.
The last important req is possibility to add lines to the chart for visualization en

[2020-11-01 09:35] RalphSteinhagen commented on #294
@raven2cz thanks for your interest in chart-fx. Of course, this is possible. There is an existing prototype implementation for the candlestick charts by @petrov9 that builds on top of chart-fx see #64 for details.

We could merge this into the master provided @petrov9 agrees to this, as this is his brainchild.

Otherwise, the `Zoomer` and other features are available. Notably dealing with large sa

[2020-11-01 14:57] strelchm opened #295 "#Offtop"
Good afternoon, dear developers of chart-fx framework! Thanks for your work, because I spend much time for making timeaxis, several axis and other feauteres for signal processing in Fx, but you have made a very rich framework with all that I need.

I have the question. I have seen that there is the swing framework JDataViewer that is opensource (from your IPAC 19 papers). But I can't find it in in

[2020-11-01 16:03] raven2cz commented on #294
The candlesticks and HiLo renderers are most important part of whole visualization. Most important is support for fast rendering and moving of sliding window for visualization of specific time range. Yes, zoom is important too, but the selected "fixed" window which is moved by sliders are more important. So, the correct control for sliders is necessary.
I know problematic algorithms for candlestic

[2020-11-02 09:07] RalphSteinhagen commented on #295
@strelchm Chart-fx is a JavaFX based charting library development which in parts is based on the design of the JDataViewer.

However, we are neither the maintainer, nor continue developing with, nor the original copyright holder of JDataViewer. For getting a copy of JDataViewer, may I suggest that you contact CERN directly via the official channel?

[2020-11-02 09:07] #295 closed

[2020-11-02 09:24] strelchm commented on #295
Thanks much for an answer!

[2020-11-02 09:54] RalphSteinhagen commented on #294
@raven2cz for compatibility reasons, the library uses plain Java (i.e. w/o custom JNI interfaces) and JavaFX as its UI backend. JavaFX supports natively OpenGL- and/or SW-based rendering depending on the hardware you are running it on.  Internally, our rendering routines use `Canvas` and `GraphicsContext`, which -- based on various tests -- seems to be the fastest access to the lower JavaFX render

[2020-11-02 11:48] RalphSteinhagen commented on #276
@LaithBudairi I believe there is a misunderstanding: there is no cache or data being kept beyond one drawing routine inside the [ContourDataSetRenderer](https://github.com/GSI-CS-CO/chart-fx/blob/dd0c2ca77aef990239a35da5040fa9cd8fe5a0a6/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/ContourDataSetRenderer.java):
https://github.com/GSI-CS-CO/chart-fx/blob/dd0c2ca77aef990239a35da5040fa9cd8fe5

[2020-11-04 13:47] raven2cz commented on #294
Thanks for your all details. I checked and tested samples and speed. I already try to implement simple renderer and dataset. It seems as good library! I expect that we will start usage and extend chart-fx with financial package in next years.
I have just few questions before closing this issue. It will very help with my tests and next work:
- timeseries need more improvement for financial toolbox.

[2020-11-04 14:04] ennerf commented on #294
Regarding (1):

I assume the end result would also have to know about Holidays etc. and be more complex to implement than just filtering every 6th & 7th value.  Wouldn't it be simpler to just use trading day indices with a custom label mapper? e.g. `trading_day_index[278] = 2017-Nov-30`

[2020-11-04 14:30] wirew0rm commented on #294
Nice to hear that chart-fx works well for you. Please don't hesitate to share your progress, especially if you at some point want to merge your efforts back into chart-fx (which we definitely encurage).

I think this should not be done on the data, but in the visualisation.
There is an open feature request for this #77. I agree with @ennerf that there is a lot of hidden complexity in this filterin

[2020-11-04 15:38] raven2cz commented on #294
Yes. This seems as good trick ( at first glance ). So, which component can be used for extension? I'm chart-fx newbie. I expect AbstractAxisTransform? Like LogarithmicAxisTransform?

[2020-11-04 16:04] raven2cz commented on #294
Yes, of course. Financial package/toolbox can be part of the chart-fx "family". There is one potential problem to solve. The API between common chart-fx and financial framework. In the principle, the based API is mainly domain objects which are defined in the separate financial framework. These filled DOs are placed under the datasets and other your interfaces. This is important to keep just one o

[2020-11-04 16:06] RalphSteinhagen commented on #294
@raven2cz I'd suggest to store the trading dates as data labels in the DataSet and to use then CategoryAxis. This should then be also compatible with the Zoomer and other plugins.

[2020-11-04 20:41] raven2cz commented on #294
Yes, I tested it, and it works. Dataset sends labels to category axis, no gaps, and labels are shown. BUT, there will be a lot of work how to correctly organize minor and major labels, and mainly changes in the zooming time. In actual test case, it is disaster because there is no more automatic logic for labels. See picture example.
Which parameters of category axis are important for some better f

[2020-11-05 07:01] RalphSteinhagen commented on #294
@raven2cz hat seems to be related to the chosen/default `AxisLabelOverlapPolicy` maybe you want to set this to a different value, e.g.:

[code]
You may try the other values as well.

[2020-11-05 09:34] wirew0rm opened #301 "Scroll zoom only works for zooming out"
When using the zoomer, it is only possible to zoom out, not to zoom in. This used to work in earlier versions, so we'll have to track what changed.

[2020-11-05 12:16] #301 closed

[2020-11-06 07:59] raven2cz commented on #294
Thanks, works. But it is terrible usage after several testing. There are many problems with visualization, mainly minor and major grid lines. Not possibility to use correctly unit scaling, to see years if zoom is out, the x-axis still needs good quality processing like TimeAxis.
So, this is not about some quick solution. It is missing and it will be part of our future implementation. Maybe it has

[2020-11-06 12:28] ArjenSturm opened #303 "Test and Javadoc errors with openjdk14 on windows"
I like to add a candlestick renderer for candlestick charts for cycle analysis, but I get the errormessage below for several test classes when I open and build the cloned chart-fx source in my Apache Netbeans 12 IDE as Maven project, so I can't now build and run some samples.
It looks like this issue : http://mail.openjdk.java.net/pipermail/openjfx-dev/2018-April/021735.html
And that has to do wit

[2020-11-06 14:11] wirew0rm commented on #303
There are unrelated problems in your build log.

The buffer overflow error is something which we also observed on our travis builds, but we were not able to reproduce it locally.
It also does not fail the build.
The only test which exceeds the dimensions given in your link is the `HistogramRendererTest`, if you change the `HEIGHT = 600` there, the error should vanish.

 The reason the test fails i

[2020-11-06 15:40] ArjenSturm commented on #303
Thanks for your quick answer !
If I take a closer look at the error message concerning DataPointTooltipTest you mentioned I see a java.lang.UnsupportedOperationException. I use JDK 14 in Apache Netbeans 12. Is there probably  an incompatibility between JDK 14 and the Monocle libraries which are used by chart-fx ?

What are the exact requirements to build and run the chart-fx code ?

[2020-11-06 16:23] wirew0rm commented on #303
We are using openjdk11 (different minor versions, I personally use 11.0.8). The other versions should be fixed by maven. We and most of our users are on Linux, so this could also cause some incompatibilities.

The UnsupportedOperationException is thrown while trying to produce a screenshot of the failed test, the actual test failure is something else if I'm not mistaken.

You could try to run from

[2020-11-06 16:54] ArjenSturm commented on #303
Thanks ! I'am working on windows 10. Now I built the artifacts with "mvn -DskipTests=true". Now I get the following error while generating javadoc :

Reactor Summary for chartfx 11.2.0-SNAPSHOT:

chartfx ............................................ SUCCESS [ 18.605 s]
chartfx-generate ................................... SUCCESS [ 35.935 s]
dataset ............................................ SUCCE

[2020-11-06 17:36] wirew0rm commented on #303
yeah, javadoc seems to become stricter with every version. I would suggest to use `-Dmaven.javadoc.skip=true`. Its not really feasable for us to ensure the javadoc to be jdk14 compliant whthout using it ourselfes. There is also a [`doclint`](https://maven.apache.org/plugins/maven-javadoc-plugin/javadoc-mojo.html#doclint) maven javadoc plugin flag, if you do not want to completely disable javadoc.

[2020-11-06 17:39] ArjenSturm commented on #303
After modification of the comments (removing the H3 headings and the surrounding text) in HiddenSidesPane.java and SidesPane.java the build was succesfull ! See below the build output.
Javadoc error is according to this link https://bugs.openjdk.java.net/browse/JDK-8222528 a bug (subject : Fix javadoc headers in Nashorn sources).

-------------------------------------------------------------------

[2020-11-09 12:26] raven2cz commented on #294
So, we will start with prototypes for basic candlesticks first. Which type of co-op do you prefer? Can I create fork of chart-fx, and we will plan merge to repo after feature stabilization ok? Can I ask for your help about an evaluation and code review after finished steps?

[2020-11-09 12:45] RalphSteinhagen commented on #294
@raven2cz sure, a PR request would be highly appreciated.

We follow the usual GH process outlined [here](https://github.com/GSI-CS-CO/chart-fx/blob/master/docs/CONTRIBUTING.md) and that would start with forking and then performing PR against our repository. Please feel free to make use of GitHub's 'draft PR' option as early as possible to check that your build/modifications pass our automatic bui

[2020-11-10 12:58] gregwis commented on #294
Hi @RalphSteinhagen, I'm developing similar candlestick chart. Could you give me a hint how to calculate width of a candle that would be proportional to visible subset of dataset.

[2020-11-10 13:09] RalphSteinhagen commented on #294
@gregwis maybe have a look at the [HistogramRenderer](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/HistogramRenderer.java#L245...L274) and corresponding sample for getting inspiration. The idea is to base the width on the physical pixel distance between the neighbouring bin centres...

Maybe you and @raven2cz could join forces and/or merge

[2020-11-10 18:45] raven2cz commented on #294
Hi, yes @gregwis. From my point of view, it is wasting time to make same thing independently...
In addition, I have implementation already, but it is just small piece of whole toolbox. The financial toolbox needs much more changes, not just a candlestick renderer.
What do you expect from your work?
In any cases, I will create fork in the next week and push my actual work.

[2020-11-12 10:21] gregwis commented on #294
My requirements are very similar. I also have implemented a draft version.
Currently I'm trying @RalphSteinhagen sugestions. I think HistogramRenderer options of calculation bar dimentions are overcomplicated for our purposes. I simplified them and I'm testing it on my candlestick renderer.

[2020-11-12 17:51] raven2cz commented on #294
Candlestick renderer supports themes (not just color schemes, this is called SAND theme) with shadows, without effects or blur performance problems. Full perf still ensured ;-)

![obrazek](https://user-images.githubusercontent.com/20504243/98976469-ae14b400-2517-11eb-803f-9133269a85ab.png)

[2020-11-12 18:55] milo-gsi commented on #294
Great, I really like that theme.
Simple and slick!

[2020-11-15 17:01] tanrikut opened #313 "Time Axis recomputeTickMarks throws exception on empty dataset"
I have an time axis with empty dataset. When I call recomputeTickMarks it throws following:

		xyChart.getXAxis().set("Time");
		xyChart.getXAxis().setTimeAxis(true);

		((DefaultNumericAxis) xyChart.getXAxis()).setAutoRangePadding(0.1);
		((DefaultNumericAxis) xyChart.getXAxis()).setAutoRangeRounding(false);

Caused by: java.time.DateTimeException: Invalid value for NanoOfSecond (valid values 0 -

[2020-11-15 23:30] gregwis commented on #294
I prefer simple red and green candles without shadows:
shadows make it difficult to draw accurate trend lines
two distinctable colors allow you to see price changes at a glance

I tried to implement custom Tooltip. I couldn't inherit from DataPointTooltip and I had to write new one inherited from AbstractDataFormattingPlugin (but only value formatters properties were reused). These two classes are

[2020-11-16 07:56] raven2cz commented on #294
Super, @gregwis!
Tooltips or "top" information chart lines are important too. It is next topic for impl.

Of course that a candlestick renderer supports more color schemes. Actually I tested 5. And your example is called OLDSCHOOL in actual implementation.

![obrazek](https://user-images.githubusercontent.com/20504243/99226073-6dec5480-27e9-11eb-8362-10e693a19a93.png)

For prototype is important t

[2020-11-16 08:29] RalphSteinhagen commented on #313
Hi @tanrikut! I tried to reproduce your issue, however, without success (see commit).

The stack trace you sent seems to point to a closing bracket:
https://github.com/GSI-CS-CO/chart-fx/blob/dee77c1009f70d55cf51b6f8fab0f2bcf072171f/chartfx-chart/src/main/java/de/gsi/chart/axes/spi/AbstractAxis.java#L422-L430

Have you tested this against master?

Could you perhaps provide an MVP that reproduces y

[2020-11-16 08:36] RalphSteinhagen commented on #294
@gregwis and @raven2cz we have been recently pushed and released updates regarding the tool tip plugin. You may want to rebase your repositories against the master branch and see whether you still need to provide a parallel development.

Keep up the good work and do not be afraid to make a draft PR. It's very helpful to already see already intermediate results. This will make the review process an

[2020-11-16 08:56] raven2cz commented on #294
Thanks for info. I expect that raw draft will be ready this or next week. But it is just a prototype, It needs more iteration to final PR to your library. I expect more cycles in the fork.

![obrazek](https://user-images.githubusercontent.com/20504243/99232010-a55eff00-27f1-11eb-9c5c-419d6c3c3d7c.png)

[2020-11-16 09:27] tanrikut commented on #313
Hi @RalphSteinhagen ,

Sorry for inconvience, I tested with 11.2.2 and it works without a problem.

[2020-11-16 09:28] #313 closed

[2020-11-16 10:24] RalphSteinhagen commented on #313
@tanrikut no worries. Glad that it worked out for you as well! :+1:

[2020-11-16 23:29] gregwis commented on #294
@raven2cz, charts look great!

@RalphSteinhagen, I tried with current version and I had problems with customizing your Tooltip: method formatData in AbstractDataFormattingPlugin  cannot be simply overriden because it uses private methods getXValueFormatter(final Axis xAxis) and getYValueFormatter(final Axis yAxis). Method formatData  takes Tuple with two Numbers - I need 4 values. Therefore method

[2020-11-17 07:34] raven2cz commented on #294
@RalphSteinhagen, and @gregwis.
Thanks for all your work and questions.
Mainly this one:
"I am looking for a function that allows me to double-click on the chart and automatically scale the data range of Y values to min/max visible X range. Do I have to write a new plugin?"

In my opinion, this completely missing in actual chart-fx. I wrote before that keeping of min-max Y values are alpha-omega f

[2020-11-17 10:10] RalphSteinhagen commented on #294
@gregwis  feel free to change the `private` to `protected` or even improve that class as long as the other user-cases will not break with these changes (changing 'private -> protected' is certainly not an issue). That class is very old and hasn't been revisited/refactored for a while.

True, we haven't considered the candle-stick use-case, since our applications mostly deal with (x,y, + x/y errors

[2020-11-17 10:49] raven2cz opened #315 "Automatic scale the data of Y values to min/max visible X range."
This functionality is based on the requirements for financial charts, see issue #294

In common, this is not just a financial chart feature; it is a reasonable behavior for chart where is necessary to research specific part of X range (mainly time range) and see whole compact information min-max of Y data values for this specific selected/slide X range (because Y min-max are very important to be v

[2020-11-17 12:42] raven2cz commented on #294
High Low (OHLC) Renderer preview.
![obrazek](https://user-images.githubusercontent.com/20504243/99391589-af106180-28da-11eb-8554-9286d32df7ec.png)

[2020-11-19 08:38] wirew0rm commented on #294
Hey everyone,

thanks for the updates, this all looks really nice.
We will have a small presentation of chart-fx at [JFX Days online](https://www.jfx-days.com/). Would it be okay for you if we show some of your images there as an example of ongoing contributions? cc/ @petrov9 @gregwis @raven2cz

Keep up the good work,

Alex

[2020-11-19 09:23] wirew0rm commented on #315
Quick note on this, the [`ContourChartRenderer`](https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-chart/src/main/java/de/gsi/chart/renderer/spi/AbstractContourDataSetRendererParameter.java#L25) does this with its color axis, which can be set to automatically re-scale to the visible data range.
That case is a bit simpler as usually there is only one contour/heatmap plot per chart/axis, so

[2020-11-19 21:03] raven2cz commented on #294
Approved required for merging #318. Reviewer needs write access rights.

[2020-11-19 21:05] raven2cz commented on #294
Hi @wirew0rm,
sure from me.
There is new screenshot from AdvancedCandlestickSample.
The PR is waiting.

![chart-fx-advanced-candlestick-sample1](https://user-images.githubusercontent.com/20504243/99724061-59db7800-2ab3-11eb-9372-356e36f38808.png)

[2020-11-20 07:22] raven2cz commented on #294
Hello @RalphSteinhagen or others,
I opened draft PR and made several junits and samples according to your CI.
But restyle branch needs some required review and write access rights. In addition, the travis crashed in the microservices (it is not my work, I tested restyle branch too, and all pass. It seems to another problem. Can you fix it?
Which next steps are important from my side?

[2020-11-20 08:49] RalphSteinhagen commented on #294
@raven2cz very good. Had a brief look at your PR. At a first glance, there seem to be only very few and minor issues. I especially appreciate that you minimised the PMD notifications and provided some unit tests. That makes a big difference. :+1:

Regarding our restyled-io bot: the fix-PR seems to erroneously try to merge the fixes directly into the chart-fx master and not your repository's featur

[2020-11-20 09:31] raven2cz commented on #294
Thanks for info.
I checked the state of branch restyled/pull-316 (in  GSI-CS-CO / chart-fx), and it seems that it is **not** up to date by my last commits of PMDs. In addition, there is some your new class DefaultTimeFormatter2 which doesn't fit to the result.

PR Restyle Financial Chart: CandleStickRenderer, HighLowRenderer, Basic Financial API #318  is not relevant and has to be **deleted**.

In

[2020-11-20 10:00] RalphSteinhagen commented on #294
Info courtesy by @wirew0rm:
You do not have to use the restyled bot, it is only a convenience tool for people submitting pull requests who do not have formatting tools available.

If you have clang format > 9.0.0 (which should be available on archlinux) you can just run `git rebase master --exec ./restyleLastCommit.sh` and all your commits will be formatted according to our guidelines and restyle

[2020-11-24 13:30] RalphSteinhagen commented on #294
@raven2cz got merged in #316 ! Thanks also to all others who contributed or provided ideas. :+1:

If you agree, I propose to close this issue.

[2020-11-24 13:34] raven2cz commented on #294
Yes, close it. For next financial components we will create new issues. Step by step.

[2020-11-24 13:34] #294 closed

[2020-11-24 13:40] RalphSteinhagen commented on #294
:open_mouth: is it Christmas already? Please keep these good PRs coming! :smile: :+1:

[2020-11-27 07:31] raven2cz opened #320 "Chart subplots with bidirectional binding of xaxis"
I forgot to check next important feature. It seems that you don't need it or I miss it in the samples. It's next very important feature for chart library.
It's called **subplots**. The final plot is assembly from more subplots which have same x-axis with bidirectional behavior for all subplots included. If the zoomer / slider is moved all subplots are still part of same plot and it is repainted.
I

[2020-11-27 10:33] wirew0rm commented on #320
Hey,

yes, you are right, we do not really have extensive support for subplots.

Here is what is currently available and what we use in our applications:
- `de.gsi.chart.utils.AxisSynchronizer`bidirectional synchronisation of the axis range between two plots, as used in the sample you mentioned.
- Currently it is not possible to hide the axis, so you would have to set empty labels and invisible ti

[2020-11-27 11:52] raven2cz commented on #320
Thanks Alexander,
I will try tests, and maybe it is not problem and AxisSynchronizer + hidden empty labels/invisible ticks will be accurate.
In any cases, I have to create some separate "better" slider which will be placed under all plots. I found the problem that actual slider has very "very very" small for longer history, so it cannot be move, because second slider feature for extending range is

[2020-11-27 12:13] qballed opened #321 "Hyphen module name breaks module based projects"
As per the JSE 9+ specs;

https://docs.oracle.com/javase/specs/jls/se9/html/jls-7.html#jls-ModuleDeclaration
https://docs.oracle.com/javase/specs/jls/se9/html/jls-3.html#jls-3.8

A module/package identifier, within the module descriptor(module-info.java) needs to be an alphanumeric string. The suggested workaround for module based projects is to use a period in place of the hyphen, for the "Automa

[2020-11-27 13:30] wirew0rm commented on #321
Thank you for the report, we just reused our artifact id's without giving it enough thought.

As we do not have any modularized applications using chartfx: is this "just" a spec violation or does this actually stop you from using this in your module-info.java? Should be fixed anyway of course, but if users could already be using the current non-conforming module name, we should communicate this di

[2020-11-27 14:00] qballed commented on #321
Dependent applications wont compile so it's more than just a spec violation. This is the following javac error on both Oracle 11.0.7 and OpenJDK-11.0.3.

error: cannot access module-info
  cannot resolve modules

Amending the manifest as per above works fine.

[2020-11-27 14:08] wirew0rm commented on #321
Thanks for the clarification, prepared a pull request which will be merged as soon as CI passes.

[2020-11-27 15:48] #321 closed

[2020-11-30 12:36] AmjadMoqade98 opened #324 "chart-fx threads memory leak"
Hi everyone.
I have a memory problem with the charts.
the chart-fx threads are not getting terminated when I close the charts view, thus the allocated stack memory by the threads is not getting released.

this is a scenario of my case:
1 - I open a new Scene with two bar charts, two contour charts with no data on them.

charts:
![image](https://user-images.githubusercontent.com/48645435/100609065-

[2020-11-30 14:58] wirew0rm commented on #324
I think you are misinterpreting the values in your screenshots.

This column does not show the stack space taken up by the threads (800 MB stack for the JavaFx Application Thread would be a lot, the jvm by default has 1MB of stack memory!). It shows the heap allocation per thread, but makes no statement about if this data was already garbage collected again. It might also now be used by a complete

[2020-12-02 09:47] AmjadMoqade98 commented on #324
thanks for your fast response!

sorry for the misunderstanding I thought it's not heap because when I enabled the heap logs the used memory there are not this big it's going from 20M to 1000M depending on the data size and it's getting collected well.

the problem is when I monitor the app from the task manager in windows the used memory by the app is too high and it equals the sum of the used mem

[2020-12-02 10:08] ennerf commented on #324
The default GC likes to hold on to allocated memory and doesn't return it to the operating system. The newer [-XX:+UseZGC](https://wiki.openjdk.java.net/display/zgc/Main) collector returns memory pretty aggressively, so that may be worth trying out if you want to optimize for the task manager usage display.

[2020-12-05 15:45] tanrikut opened #325 "hashCode function on DataSet return different results after each value addition"
Hi,

Following code produces different results on each call to hashCode function:
[code]

But according to general contract of hashCode in Java:

This makes it impossible to use DataSet classes inside HashTable etc.

[2020-12-05 17:15] pacher commented on #325
Why not just use `IdentityHashMap` instead of `HashMap` since DataSet is mutable?

[2020-12-05 17:25] tanrikut commented on #325
Well, I didnt know about IdentityHashMap but it will do the trick. Thanks.
But still hashCode doesnt obey the general contract.

[2020-12-05 19:01] pacher commented on #325
It does if `equals` is overridden to perform content-base "deep" comparison, which is a common practice for data structures in java.

Imagine two datasets containing the same points, what should `dataset1.equals(dataset2)` return? It is customary to override equals and perform deep comparison so that it will return `true`, which is what I assume the authors of the library did.
Now if you add point

[2020-12-05 22:53] #315 closed

[2020-12-06 13:04] hhijawi commented on #324
Hi Florian,
indeed using ZGC fixes the issue, I tried it and the memory is freed smoothly.
but unfortunately, we cannot use it as it is only supported in Windows 10.

is there another solution that can help?
cannot we destroy threads manually?

[2020-12-06 13:51] wirew0rm commented on #325
Hey there,

as @pacher suspected/pointed out, equals is indeed overridden to take the dataset's points into account. This is also mentioned in section quoted from hashCode's contract:

I will close this issue for now as op's problem at hand as well as the fundamental issue seems to be resolved, feel free to comment/reopen if you disagree.

[2020-12-06 13:51] #325 closed

[2020-12-06 13:53] ennerf commented on #324
You can limit the maximum memory use with the `-Xmx` flag, e.g., `-Xmx512m`.

The only other way I'm aware of is to use native memory (e.g. direct buffers) that you can manually release via `sun.misc.Unsafe::invokeCleaner`. That won't help you with charts though, and you'd have to be careful to not cause any segfaults that would cause an application crash.

[2020-12-06 15:45] pacher commented on #324
@hhijawi It's the first time I hear that ZGC is only supported on Windows and could not find anything about that. Do you have a link around?
Anyway, there is also [Shenandoah](https://openjdk.java.net/projects/shenandoah/) from Red Hat.

[2020-12-06 15:58] ennerf commented on #324
I assumed @hhijawi  was referring to Windows 10 as in that it won't work on Windows 8.1. ZGC is definitely supported on Linux and macOS.

[2020-12-06 18:01] hhijawi commented on #324
https://openjdk.java.net/jeps/365

"Support for mapping paging-file backed memory into a reserved address space. The Windows memory management API is not as flexible as POSIX's mmap/munmap, especially when it comes to mapping file backed memory into a previously reserved address space region. To do this, ZGC will use the Windows concept of address space placeholders. The placeholder concept was in

[2020-12-06 19:22] hhijawi commented on #324
please note that I cannot also use Shenandoah, it is not supported in windows.

[2020-12-07 00:03] ennerf commented on #324
The issue you are seeing is caused by how legacy GCs allocate memory, and it is unrelated to this library. If you can't limit your max heap size (`-Xmx`), you can't use native memory, and you can't update to a modern GC, you are unfortunately out of luck.

I'd recommend watching one of Gil Tene's talks on garbage collection. The currently latest version seems to be [Really Understanding Garbage Co

[2020-12-07 09:22] RalphSteinhagen commented on #303
@ArjenSturm would you be willing to make a PR with your changes?

[2020-12-11 15:22] asmirn1 opened #328 "Switching from ChartFX 11.1.5 to 11.2.2"
Hi,

I've switched from ChartFX v11.1.5 to v11.2.2, and I've noticed a few differences in the charts. One of the differences is the axis labels ends with "[]" in the new version.

This is my chart built with version 11.1.5:
<img width="558" alt="11 1 5" src="https://user-images.githubusercontent.com/13631120/101920559-f4524700-3b99-11eb-890e-2d4dcbadb2cb.png">

And this is my chart built with vers

[2020-12-12 11:35] RalphSteinhagen commented on #328
@asmirn1 yes the square brackets '[]' are on purpose and contain the axis unit. If it shows as '[]' then the axis unit has not been set.

This is needed to automatically adjust the unit according to the axis range based on SI standards. Ie. if you set the auto-unit property and use, for example, 'V' as axis unit, then the unit string is automatically adjusted and plotted as '[uV]', '[mV]', '[V]',

[2020-12-14 14:14] asmirn1 commented on #328
@RalphSteinhagen Thank you for a detailed explanation. I've fixed the labels.

[2020-12-14 15:19] RalphSteinhagen commented on #328
OK. I will close this issue. Feel free to re-open if this hasn't solved your problem.

[2020-12-14 15:19] #328 closed

[2020-12-18 09:32] wirew0rm commented on #324
Hey everyone, I will close this issue, as I think in the discussions it became clear, that this is more a question of how memory is handled in java and not a chart-fx specific problem.

Please feel free to reopen if you disagree or open a topic in our newly created [discussions forum](https://github.com/GSI-CS-CO/chart-fx/discussions) for more general discussions of the way chart-fx handles thread

[2020-12-18 09:32] #324 closed

[2020-12-18 09:35] RalphSteinhagen commented on #64
Will close this since this has been contributed, merged, and released as part of the recent release.

[2020-12-18 09:35] #64 closed

[2020-12-18 09:35] wirew0rm commented on #286
As there have been two maven central releases since this was fixed, I'm closing this issue. Thanks for reporting!

[2020-12-18 09:35] #286 closed

[2020-12-19 12:09] Niekaiyuan commented on #6
Hi,I hava a question:I already added JVM arguments but when I running my code,it's show Module javafx.swing not found.And I have been  used Maven to add the dependent of javafx-swing

[2020-12-21 14:29] wirew0rm commented on #6
Hey @Niekaiyuan,

since last year, we have been able to eliminate chart-fx's dependency on the javafx-swing module. So you should just remove the chartfx-swing entry from the add-modules list assuming your project doesn't otherwise use this module. I will update the README.md accordingly, thanks for bringing this up and please report back if this was indeed the problem.

[2021-01-01 20:07] masa2146 opened #334 "I need docs to create realtime charts."
Hi, I wanna create a realtime chart using by chartfx. I've examined your FinancialRealtimeCandlestickSample codes but it very complex for me and it does not work. Do you have a docs suggestion to create realtime chart.

[2021-01-01 21:15] RalphSteinhagen commented on #334
Hi @masa2146! First, thanks for your interest in Chart-FX!

You may want to consult the examples and links on the [README.md](https://github.com/GSI-CS-CO/chart-fx/blob/master/README.md#code-example) page and specifically the examples in the samples [directory](https://github.com/GSI-CS-CO/chart-fx/tree/master/chartfx-samples/src/main/java/de/gsi/chart/samples).  I'd suggest that you run and try o

[2021-01-01 21:15] #334 closed

[2021-01-15 13:36] dedeibel opened #337 "DataPointTooltip missing dataset synchronization"
I think there might be race condition in the `DataPointTooltip` code regarding the lookup of points near the mouse and getting the data set's values.

First the index of valid points is fetched, then later it's value is fetched. In the meantime the dataset could have been cleared resulting in an out of bounds exception.

https://github.com/GSI-CS-CO/chart-fx/blob/fc81f1fa2fced4d4102bbc4fa3558cef35

[2021-01-15 14:20] dedeibel commented on #337
It seems there is already the `readLockGuard` with a similar concept.

[2021-01-15 15:11] wirew0rm commented on #337
Yes readLockGuard would probably be the preferred way to make this safe. One problem I see is the way the code is written now it would need to block all DataSets for the whole search. This should probably be changed to extract the relevant information from each DataSet inside of a read lock guard and then decide afterwards which one is the closest and should be shown. Otherwise the next problem wi

[2021-01-16 15:04] ArjenSturm commented on #320
Hi Raven,

Maybe you can take a look a the binjr timeseries browser. This is a javafx application with charts and corresponding subplots.
Link is : https://github.com/binjr/binjr
But probably they don't use a custom renderer. But overall the quality of the java code is not bad.

Regards,
Arjen

[2021-01-28 11:58] wirew0rm commented on #337
fixed by #339

[2021-01-28 11:58] #337 closed

[2021-02-11 12:48] raven2cz opened #354 "Intellij: Error Resolving classes inside the chartfx-chart - StyleParser"
I found the problem that I cannot resolve classes inside the chartfx-chart like StyleParser. This happens with intellij environment.
I tried to clean whole project, change all things many times, but the result is still same. Linkage error inside the same submodule!
I found the problem that your trick in pom.xml doesn't work correctly:
`<version>${revision}${sha1}${changelist}</version>`
where the

[2021-02-11 13:17] wirew0rm commented on #354
The one problem I know of is that intellij's maven implementation does not resolve plugins from the parent pom. If you use an existing version number, it will resolve the plugin from the repositories, but with the branch based version number it will only work if you install the plugin into your local .m2 repository once using `mvn install` from the command line.

What you might be seeing is that m

[2021-02-12 10:10] thhart opened #357 "Curve disappearing when zooming"
When zooming in the curve disappears (even if data points are still in the zoomed in range). I tested with different versions.
Version: 11.2.3
JavaFx: 14 in Linux

The zoom plugin is used like this:
<pre>
              final de.gsi.chart.plugins.Zoomer zoomer = new de.gsi.chart.plugins.Zoomer(AxisMode.X);
              zoomer.setSliderVisible(false);
              chart.getPlugins().add(zoomer);
<

[2021-02-12 10:19] thhart opened #358 "Zoom starts on Y-Axis even if X-Axis only mode is applied"
Out of sudden the Y-Axis zooms as well. It looks like it is happening when data is refreshed (cleared from dataset and added again).

Version: 11.2.3

[2021-02-12 10:29] wirew0rm commented on #357
This is probably not related to the Zoomer plugin but to the way the Renderer selects the visible points in the dataset when the visible range is smaller than the complete data range.
Can you test this with `chart.getRenderers().get(0).setReducePoints(false)` and/or `chart.getRenderers().get(0).setAssumeSortedData(false)`? Are your data's x-values sorted (ascending)?

[2021-02-12 10:35] thhart commented on #357
Thanks a lot, sorting the data in front did the trick. I can not judge if this is a wanted behaviour. Is so please close the issue.

[2021-02-12 10:41] wirew0rm commented on #357
It is kind of necessary if you want to have good performance with large datasets and high update rates. That is also why we added these escape hatches to allow showing unsorted data (by sacrificing performance). It should probably be made more obvious in the documentation.

[2021-02-12 10:41] #357 closed

[2021-02-12 10:56] thhart commented on #358
Additional observation, clicking on the auto ranging button in the action bar does auto range the Y-Axis as well.

[2021-02-12 11:03] wirew0rm commented on #358
I could not reproduce this with our samples, so I can only make some wild guesses.

Do you lock your dataset while refreshing the data (`dataset.lock().writeLockGuard(() -> {...})`)? If not you could maybe confuse the Zoomer by modifying the data at a critical section.
Did you check the value of `zoomer.getAxisMode()` after you're seeing this wrong behaviour? Another one to check would be `zoomer.

[2021-02-12 12:36] thhart commented on #358
Will try to make a reproducible example and check the suggestion.

[2021-02-12 13:12] raven2cz commented on #354
StyleParser is independent on the libraries. And mvn clean install I'm using always. I have all auto generated classes etc. The main problem is just StyleParser. This is another type of problem. How long is there this change with master instead of the valid version? I have this problem after using actual master branch.

[2021-02-12 14:54] wirew0rm commented on #354
The change is from 18th Dec: 5455e61f

I tried to reproduce, removing `rm -r .m2/repositories/de/gsi`, doing a fresh checkout and importing that into intellij after "Invalidate Caches...". First complains about missing plugin, doing `mvn install` once solves those and no errors in intellij. I'm on an older intellij provided by my distribution, but I have a recent one at home where didn't notice an

[2021-02-12 15:44] raven2cz commented on #354
It seems that the problem was in the corrupted jar file in the local m2 repository. After deleting the local de/gsi in m2 the StyleParser is correctly found.
So, this helps:
`rm -r .m2/repository/de/gsi`
Alexander, thanks for help!

[2021-02-12 15:44] #354 closed

[2021-02-18 08:02] dedeibel opened #366 "Problem with DefaultDataSetLock"
Hi,

my application experienced a dead lock that seems to be related to `DefaultDataSetLock`. I can see the following exception shortly before the lock-up. It was not accepting any more incoming data for the dataset after that:

[code]

I noticed that the writing threads were blocked.

`DefaultDataSetLock` uses a `StampedLock` internally, the API says that it does "not unlock" the read lock in cas

[2021-02-18 08:28] RalphSteinhagen commented on #366
@dedeibel thanks for reporting. I'll have a look at it.

[2021-02-18 09:31] RalphSteinhagen commented on #366
Some preliminary observations:

N.B. AtomicInteger is intrinsically volatile but is IMO not the culprit.

Tried this before and again now but this does not seem to solve the issue.

I think your proposal to guard the pessimistic `read(Un)Lock(..)` using `synchronize` seems to be the better solution.
@wirew0rm recently introduced a similar fix leading to the new `unequalToLockHoldingThread(...)` fu

[2021-02-23 14:09] #366 closed

[2021-03-03 08:03] dedeibel opened #373 "CircularDoubleErrorDataSet.add single values clears AxisDescription"
I noticed that when I used CircularDoubleErrorDataSet.add with single values the axis auto range detection had problems.

I could trace it back to this line: https://github.com/GSI-CS-CO/chart-fx/blob/master/chartfx-dataset/src/main/java/de/gsi/dataset/spi/CircularDoubleErrorDataSet.java#L92

For my sub class I solved it like this but I am unsure if this holds for all users:

[code]

[2021-03-03 08:16] RalphSteinhagen commented on #373
@dedeibel well spotted. Would you be willing to make a PR for it?

I'd suggest to inline the two lines from your `updateXAxisDescription()`:
[code]

There seem to be only two places where this occurs and the case of `xValues.available() == 0` cannot occur in the `add(..)` functions since there will be always a point present and/or added (also minimises unit-testing :smirk:  ) Thanks in advance.

[2021-03-03 12:07] #373 closed

[2021-03-07 17:14] RossHS opened #378 "AutoRange axis in CircularDoubleErrorDataSet"
Hello,

I am using a CircularDoubleErrorDataSet to display real-time data with a given 400 points buffer size and I would like to know if it even possible to implement autoRanging of the yAxis? What i mean. If you look at the first screenshot you may see the correct auto range for y axis. (For testing, I created a linear function growing in time with an initial point of (200;200) and auto range wo

[2021-03-07 18:13] RossHS commented on #378
Little update. Version 11.2.3 does not have this problem, everything works as it should. Thus, this is a bug of version 11.2.4. As I understand in version 11.2.4, the values of the min and max in the CircularDoubleErrorDataSet::getAxisDescription are calculated incorrectly.

screenshots of the same code, but with the library of the previous version:
![image](https://user-images.githubusercontent.c

[2021-03-08 07:02] RalphSteinhagen commented on #378
@RossHS thanks for spotting and reporting. This may have slipped in with one of the last PRs.

I will have a look at it and make a new release by the end of the day.

[2021-03-08 14:06] #378 closed

[2021-03-08 14:10] wirew0rm commented on #358
@thhart where you able to reproduce or resolve this issue?

[2021-03-08 14:20] wirew0rm commented on #303
This was fixed in the meantime. We now build on github actions with java 15 and javadoc enabled.

[2021-03-08 14:20] #303 closed

[2021-03-26 19:58] ennerf opened #383 "Fixed axis range does not work with inverted axis"
Version: `chart-fx 11.2.5`

I'm trying to create a chart with a fixed range on an inverted axis. Creating a non-inverted one works

[code]

![image](https://user-images.githubusercontent.com/5491587/112686086-bf7ead00-8e75-11eb-831f-49dc322e4bb3.png)

but as soon as I add inversion, both X and Y axes are fixed to `[-1, +1]`. It does not matter whether it is only one axis or in which order the meth

[2021-04-12 08:20] Blazingsteal opened #385 "XYRangeIndicator"
Hi loving the library.
Tho I thought some functionality was missing such as an XYRangeIndicator.
You currently have both the X - & Y-RangeIndicators plugin but not one for both axes at the same time, which seems like something most people could use as well.
I've gone ahead and made a MWE tho keep in mind it's made in Kotlin

[code]

This is more of a workaround than a final solution as I instantia

[2021-04-13 11:29] thhart opened #386 "Zoomer frame information"
I would like to display the axis boundaries of the zoom frame currently visible. Can this be achieved somehow?
For instance I have a date axis for X and would like to see the left and right framing dates while zooming?
Right now I use the standard Zoomer plugin.

[2021-04-13 11:31] thhart opened #387 "Zoomer programmatically changeable"
I would like to be able to influence the zoom frame when the chart is filled with data. Is this somehow possible via the standard Zoomer plugin?

[2021-04-13 11:56] wirew0rm commented on #386
If I understand your question correctly, you should be able to just use the Min/Max property of the xAxis. You can also add listeners to the axis (beware that they are not JavaFX listeners, so they will not run in the javafx application thread and you need to wrap UI updates in runFx() calls). In the case of date axis you probably also want to get the LabelFormatter from the axis, as dates are jus

[2021-04-13 12:54] wirew0rm commented on #387
As for your other question, the simplest way is to just change the data range of the axes (`xAxis.set(min, max)`). The zoomer will still work, but it will not be able to restore the old state by right clicking. You could add the current state manually to the deqeue returned by `zoomer.zoomStackDequeue` (look at the (private) `pushCurrentZoomWindows()` function to see what you would have to add the

[2021-04-14 07:47] #386 closed

[2021-04-14 07:48] #385 closed

[2021-04-14 08:01] #387 closed

[2021-04-14 09:30] #320 closed

[2021-04-14 09:32] #239 closed

[2021-04-14 09:33] #77 closed

[2021-04-14 09:34] #123 closed

[2021-04-14 10:30] wirew0rm commented on #276
We're performing some spring cleaning, since there was no recent activity and I cannot see a clear path of action on this issue i will close it for now. If this is still something that needs to be fixed in chart-fx feel free to reopen or discuss it in our gitter channel.

[2021-04-14 10:30] #276 closed

[2021-04-15 06:31] #266 closed

[2021-04-15 11:55] Blazingsteal opened #399 "Histogram changes values"
When using a Histogram the values inserted into the dataset is changed. [Picture](https://imgur.com/H0okk8P) As can be seen in the picture the data point is 54.5, but all my data is ints converted to double, i.e. 54 -> 54.0, 55 -> 55.0 etc.
I should never be able to get 54.5, and I've checked the conversion from int to double (even though it should be without precision loss).

My data is not guara

[2021-04-15 14:12] thhart commented on #328
Maybe I  miss something but how to hide the name and unit section at all? I can not get rid of the brackets at all?
Why the empty brackets are displayed at all? Wouldn't it be better if these would be hidden if unit is not set?

[2021-04-15 16:33] RalphSteinhagen commented on #328
@thhart you may want to set the respective properties to 'null'. This should suppress the units and/or name.

[2021-04-15 19:39] wirew0rm commented on #399
I think there is a misunderstanding about the way histogram works. What you are supplying to the constructor are the boundaries between the histogram bins. What is plotted and returned by the e.G. `DataSet.get()` is the center of the bin and its content. All values between the first and second value of `xBins` are added to the first bin, which will be drawn at the center of the Bin. That is why yo

[2021-04-16 08:26] Blazingsteal commented on #399
Ah that makes more sense. To fix my problem I've gone back to using a DoubleDataSet and doing the counting on my own.

Sad to hear, as my project needs Java 8, and I wont be able to upgrade to the lates java anytime soon by the looks of it.

Definitely a good idea, I'll keep it in mind for the future

[2021-04-16 09:46] #399 closed

[2021-05-02 16:09] nkoding opened #409 "Error using Zoomer Plugin - javafx.controls does not export com.sun.javafx.scene.control.behavior"
**Describe the bug**
Hi,

I've set up a JavaFX project and load the chart-fx dependency via maven.
In my chart class I'm using the Zoomer plugin like this:

`chart.getPlugins().add(new Zoomer());`

Without the zoomer plugin everything works fine. But with it I encounter the following error:

[code]
I've tried the VM-Args mentioned in Issue #6 and added this directive:
[code]

Also while trying stu

[2021-05-03 09:27] domenicquirl opened #410 "Major Grid lines sometimes don't update on DataSet updates that change the axis range of a chart"
**Describe the bug**
Plotting a small sine wave over a bit more than 10 seconds:

![image](https://user-images.githubusercontent.com/28535538/116858517-c8923500-abfe-11eb-9423-429dbada7540.png)

When I update the signal with data for up to 100 seconds, sometimes the previous grid lines remain and appear "squashed" at the beginning of the chart:

![image](https://user-images.githubusercontent.com/2

[2021-05-03 09:42] wirew0rm commented on #409
Hey,

the vm arguments are slightly different depending on which dependencies end up on the module path vs the classpath. If you read the error message, it mostly corresponds to the missing/incorrect vm argument.
In your case this should be `--add-exports=javafx.controls/com.sun.javafx.scene.control.behavior=org.controlsfx.controls`.
Since the option stems from our controlsfx dependency I will als

[2021-05-03 18:21] wirew0rm commented on #410
Hey,

welcome to chart-fx and thanks for the detailed and comprehensive bugreport. I've also noticed this sporadically, but I've never come around to analyzing it systematically.

Could you try "chart.getGridRenderer().setDrawOnTop(true)" ? That renders the grid after the chart on top of it, so it could help as a workaround.

But from looking at the code I think the tick marks are only updated dur

[2021-05-03 18:54] domenicquirl commented on #410
Again, thanks for your prompt response.

I tested your suggestions where actionable. Changing the grid renderer to `setDrawOnTop(true)` does not resolve the issue, instead the wrong grid lines are rendered over the plotted series.

For overriding axis methods, I found the following:

[code]

Since this is not too much effort, the override is a sufficient work-around for me to keep working. If I un

[2021-05-03 19:26] wirew0rm commented on #410
Thanks for confirming/testing and I hope this will allow you to work around the issue until the next release.

[2021-05-06 15:24] wirew0rm commented on #409
I updated the [corresponding section in the README.md](https://github.com/GSI-CS-CO/chart-fx/blob/81ef5de3f01a1fad21b626d9f705c5d9a3f1a048/README.md#javafx-jvm-command-line-options) (still in PR).

Were you able to fix your problem?